body {
    background-image: url(/static/img/tile3.jpg);
}
body #player {
    width: 50px;
    height: 50px;
}
BODY TABLE {
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    -moz-box-shadow: 3px 4px 6px #514949;
    -webkit-box-shadow: 3px 4px 6px #514949;
    box-shadow: 3px 4px 6px #514949;
    background-color: #E7E6E6;
    background-image: url(/static/img/tile.jpg);
    margin: 1em;
}
TD {
    padding: 4px;
    border: 3px outset white;
}
TR {
    border: 2px solid transparent;
}
TBODY {
    border: 3px outset white;
}
BODY H1 {
    font-size: 15px;
    color: teal;
}

.transition-audition a, .transition-audition a:visited{
	color: #999;
	margin: 1em;
}

.trackedit TD {
    border: 3px outset white;
    max-width: 40px;
    overflow-wrap: break-word;
    padding: 4px;
}
