echo-nest-remix-examples/*
*.mp3
*.en
*.wav
*.pyc
.DS_Store
audio_full
*.pkl
*~
api_keys.yml
=======
build/
dist/
js/
remix/
uploads/*
remix.egg-info
*.so
*.pyc
api_keys.yml
log.txt
/static/assets/*
/remix/*
/cache/*
magic.log
