echo-nest-remix-examples/*
static/single-audio-files/
audio/
*.mp3
!glitch/static/instrumentals/
*.en
*.wav
*.pyc
.DS_Store
audio_full
*.pkl
*~
apikeys.py
build/
dist/
js/
remix/
uploads/*
remix.egg-info
*.so
static/assets
glitch/static/assets
/remix/*
/cache/*
*.log
env
bin
lib
pyenv.cfg
pyvenv.cfg
