					<tr><td><label for=artist>Artist Name:</label> </td><td><input name=artist> (used if missing from mp3 data)</td></tr>
					<tr><td colspan="2"><p class="infinite-aside">For proper names like Marvin Gaye and Janice Joplin, please enter as: Last, First.
					Also consider format like Costello, Elvis and the Attractions</p></td></tr>
					<tr><td><label for=track_title>Track Title:</label> </td><td><input name=track_title> (used if missing from mp3 data)</td></tr>
					<tr><td colspan="2"><label for="mp3_file" >MP3 File:</label> <input type=file name="mp3_file"></td></tr>
					<tr><td colspan="2"><label for="artist_image" >Artist Image</label> (up to 500kb) - will be displayed at 200 x 200 px: <input type=file name='track_image'</td></tr>
					<tr><td colspan="2"><label for=story>Story behind the track:</label><br/> (in couplet form if possible - two lines, space and so on)<br/><textarea name=lyrics rows=10 cols=60 placeholder="Sometimes you can fix...                               Elaborate on bla bla bla..."></textarea></td></tr>
					<tr><td colspan="2"><label for=comments>Comments: <br/><textarea name=story rows=10 cols=60></textarea></td></tr>
					<tr><td colspan="2"><label for=lyrics>Lyrics:</label>  (in couplet form if possible - two lines, space and so on)<br/><textarea name=lyrics rows=10 cols=60 placeholder="Sometimes you can fix...                               Elaborate on bla bla bla..."></textarea></td></tr>
					<tr><td colspan="2"><label for=comments>Comments: <br/><textarea name=comments rows=10 cols=60></textarea></td></tr>
					<tr><td colspan="2"><label for=url>Web Site:</label> <br/><input type=url name=url placeholder="http://"></td></tr>