html {
  width: 100%;
  position: relative;
  height: 100%; }

  body {
    padding: 0;
    margin: 0;
    background: url(/static/img/background.png) #d5d5d5;
    font-family: "Signika", "Meta", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    width: 100%;
    overflow-x: hidden;
    min-height: 470px; }
    body a#banner {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 300px;
      background: url(/static/img/banner.png) no-repeat;
      z-index: 1000; }
      body .button, body .buttons a {
        display: inline-block;
        position: relative;
        margin: 0;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        background-color: #FCFCFC;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(235, 235,
                235, 0.3) 60%, rgba(225, 225, 225, 0.6) 100%);
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(235, 235, 235,
                0.3) 60%, rgba(225, 225, 225, 0.6) 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(235, 235, 235,
                0.3) 60%, rgba(225, 225, 225, 0.6) 100%);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(235, 235, 235, 0.3) 60%,
                rgba(225, 225, 225, 0.6));
        background-clip: padding;
        cursor: pointer;
        overflow: hidden;
        color: #333;
        text-shadow: 0 1px 0 white;
        font-size: 10px;
        line-height: 18px;
        white-space: nowrap;
        text-align: center;
        vertical-align: baseline;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), inset 0 1px 0 white, inset -1px 0 0 white,
                inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 white;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), inset 0 1px 0 white, inset -1px 0 0 white,
                inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 white;
        -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), inset 0 1px 0 white, inset -1px 0 0 white,
                inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), inset 0 1px 0 white, inset -1px 0 0 white,
                inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 white;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s, text-shadow 0.3s,
                -webkit-box-shadow 0.3s;
        -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s, text-shadow 0.3s,
                -webkit-box-shadow 0.3s;
        -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s, text-shadow 0.3s,
                -webkit-box-shadow 0.3s;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s, text-shadow 0.3s,
                -webkit-box-shadow 0.3s;
        text-decoration: none;
        padding: 1px 11px; }
        body .button.like::before, body .button.share::before,
        body .button.download::before, body .button.sc::before, body .button.jam::before,
        body .buttons a.like::before, body .buttons a.share::before,
        body .buttons a.download::before, body .buttons a.sc::before,
        body .buttons a.jam::before {
          content: "";
          display: block;
          position: absolute;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          top: 1px;
          left: 2px; }
          body .button.sc, body .buttons a.sc {
            padding: 1px 14px; }
            body .button.sc:before, body .buttons a.sc:before {
              width: 28px; }
        body .button.jam, body .buttons a.jam {
          padding: 1px 14px;
          margin-left: 4px; }
          body .button.jam:before, body .buttons a.jam:before {
            width: 29px; }
        body .button.selected, body .buttons a.selected {
          text-shadow: none;
          border: 1px solid #C8C8C8;
          background-color: #EEE;
          -webkit-box-shadow: 0 1px 3px transparent, inset 0 2px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(0,
                    0, 0, 0.08), inset -2px 0 2px rgba(0, 0, 0, 0.03), inset 0 -1px 0 rgba(0,
                    0, 0, 0.02), inset 2px 0 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 3px transparent, inset 0 2px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(0,
                    0, 0, 0.08), inset -2px 0 2px rgba(0, 0, 0, 0.03), inset 0 -1px 0 rgba(0,
                    0, 0, 0.02), inset 2px 0 2px rgba(0, 0, 0, 0.03); }
          body .button.selected.sc, body .button.selected.like, body .buttons a.selected.sc,
          body .buttons a.selected.like {
            background-color: #ffad40; }
            body .button.selected.share, body .buttons a.selected.share {
              background-color: #00dcff; }
              body .button.selected.download, body .button.selected.buy,
              body .buttons a.selected.download, body .buttons a.selected.buy {
                background-color: #b5dc5b; }
                body .button.selected.jam, body .buttons a.selected.jam {
                  background-color: #ffff00; }
        body .button:hover, body .button:focus, body .buttons a:hover,
        body .buttons a:focus {
          color: #333;
          outline: 0;
          background-color: #f9f9f9;
          border-color: rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.13) rgba(0, 0, 0, 0.23);
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 1px 0 white, inset -1px 0 0 #f8f8f8,
                    inset 0 -1px 0 rgba(248, 248, 248, 0.5), inset 1px 0 0 #f8f8f8;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 1px 0 white, inset -1px 0 0 #f8f8f8,
                    inset 0 -1px 0 rgba(248, 248, 248, 0.5), inset 1px 0 0 #f8f8f8;
          text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc, -1px 1px 0 #fcfcfc, 1px 1px 0 #fff; }

#menu {
  background: rgba(1, 1, 1, 0.55);
  width: 284px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  min-height: 470px; }
  #menu #logo {
    height: 250px;
    width: 250px;
    margin: 23px auto 6px;
    background: url(/static/img/logo.png) no-repeat bottom center;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out; }
    #menu h1 {
      text-align: center;
      font-weight: 300;
      margin: 0 auto 0px;
      font-size: 54px;
      height: 67px;
      text-transform: lowercase;
      display: block;
      opacity: 1;
      overflow: hidden;
      -webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; }
      #menu h2 {
        font-weight: 100;
        text-align: center;
        color: #ccc;
        font-size: 35px;
        margin: -20px 0 0 0;
        text-transform: lowercase;
        overflow: hidden;
        height: 40px;
        opacity: 1;
        -webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -moz-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -o-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; }
        #menu #social {
          margin: 0 auto;
          width: 192px;
          height: 23px;
          overflow: hidden; }
          #menu #social iframe {
            width: 107px;
            height: 20px;
            float: left;
            display: inline;
            text-align: center; }
            #menu #social .fb-like {
              margin: 0 auto;
              text-align: center;
              float: left; }
  #menu #player {
    width: 256px;
    margin: 29px 22px 4px;
    overflow: hidden;
    z-index: 5; }
    #menu #footer {
      text-align: center;
      color: #ccc;
      width: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.75);
      bottom: 0;
      padding: 15px 0;
      z-index: 125; }
      #menu #footer a {
        text-decoration: none;
        border-bottom: 1px dashed #ccc;
        color: #ccc;
        margin-left: 10px; }
        #menu #footer a:first-child {
          margin-left: 0; }
      #menu #footer .affiliates {
        margin: 10px auto 0;
        height: 27px; }
        #menu #footer .affiliates .powered {
          display: inline-block;
          margin: 5px 15px 0 0; }
          #menu #footer .affiliates .soundcloud {
            display: inline-block;
            background: url(/static/img/soundcloud_gray.png) no-repeat bottom center;
            width: 58px;
            height: 25px;
            border: none;
            margin: 0 5px -6px 0; }
            #menu #footer .affiliates .soundcloud span {
              background: url(/static/img/soundcloud.png) no-repeat bottom center; }
        #menu #footer .affiliates .echonest {
          display: inline-block;
          background: url(/static/img/echonest_gray.png) no-repeat bottom center;
          width: 25px;
          height: 25px;
          margin: 0 0 -6px;
          border: none; }
          #menu #footer .affiliates .echonest span {
            background: url(/static/img/echonest.png) no-repeat bottom center; }
        #menu #footer .affiliates span {
          opacity: 0;
          -webkit-transition: opacity 1s linear;
          -moz-transition: opacity 1s linear;
          -o-transition: opacity 1s linear;
          transition: opacity 1s linear; }
          #menu #footer .affiliates span:hover {
            opacity: 1; }

#content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible; }
  #content .stripe {
    position: absolute;
    background: white;
    height: 100px;
    top: 300px;
    width: 100%;
    opacity: 0.3;
    z-index: 0; }
    #content .track_container {
      position: relative;
      height: 450px;
      -webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; }
      #content .tracks {
        position: absolute;
        left: 284px;
        right: 0;
        padding: 40px 0 40px 40px; }
        #content .tracks .track {
          height: 40px;
          margin: 10px 0;
          text-decoration: none;
          color: #000;
          overflow: hidden;
          -webkit-transition: opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
          -moz-transition: opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
          -o-transition: opacity 1s ease-out, height 1s, margin-bottom 1s ease-out;
          transition: opacity 1s ease-out, height 1s, margin-bottom 1s ease-out; }
          #content .tracks .track.new {
            margin-bottom: 500px;
            opacity: 0; }
            #content .tracks .track.hidden, #content .tracks .track.ending {
              height: 0;
              opacity: 0;
              margin: 0; }
              #content .tracks .track .coverart {
                position: relative;
                float: left;
                margin: 0 10px 0 0;
                height: 40px;
                width: 100px;
                -webkit-transition: height 1s;
                -moz-transition: height 1s;
                -o-transition: height 1s;
                transition: height 1s;
                overflow: hidden; }
                #content .tracks .track .coverart img {
                  -webkit-transition: margin-top 1s;
                  -moz-transition: margin-top 1s;
                  -o-transition: margin-top 1s;
                  transition: margin-top 1s;
                  margin-top: -30px; }
          #content .tracks .track .text {
            padding-top: 0;
            -webkit-transition: padding-top 1s;
            -moz-transition: padding-top 1s;
            -o-transition: padding-top 1s;
            transition: padding-top 1s;
            font-size: 32px;
            width: 500%; }
            #content .tracks .track .text .title {
              color: #000;
              text-decoration: none;
              -webkit-transition: font-size 1s;
              -moz-transition: font-size 1s;
              -o-transition: font-size 1s;
              transition: font-size 1s;
              margin-bottom: -7px; }
              #content .tracks .track .text .artist {
                opacity: 0.3; }
          #content .tracks .track .stats {
            -webkit-transition: height 1s, margin-top 1s, opacity 1s linear 2s;
            -moz-transition: height 1s, margin-top 1s, opacity 1s linear 2s;
            -o-transition: height 1s, margin-top 1s, opacity 1s linear 2s;
            transition: height 1s, margin-top 1s, opacity 1s linear 2s;
            height: 0;
            margin-top: 0;
            opacity: 0;
            overflow: hidden;
            color: #a4a4a4;
            font-size: 10pt; }
            #content .tracks .track .stats span.count {
              padding: 0px 5px 0 15px; }
              #content .tracks .track .stats span.playback.count {
                background: url(/static/img/sc_play.png) left center no-repeat; }
                #content .tracks .track .stats span.download.count {
                  background: url(/static/img/sc_down.png) left center no-repeat; }
                  #content .tracks .track .stats span.favoritings.count {
                    background: url(/static/img/sc_heart.png) left center no-repeat; }
          #content .tracks .track .buttons {
            height: 0;
            max-width: 0;
            overflow: hidden;
            float: left;
            opacity: 0;
            transition: max-width 2.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, opacity 2s linear 1s;
            -webkit-transition: max-width 2.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, opacity 2s linear 1s;
            -moz-transition: max-width 2.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, opacity 2s linear 1s;
            -o-transition: max-width 2.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s, opacity 2s linear 1s; }
  #content #tracks.tracks {
    bottom: 0; }
    #content #tracks.tracks .track {
      height: 0;
      display: none; }
      #content #tracks.tracks .track:nth-last-child(0) {
        opacity: 1;
        height: 40px;
        display: block; }
        #content #tracks.tracks .track:nth-last-child(1) {
          opacity: 0.83333;
          height: 40px;
          display: block; }
          #content #tracks.tracks .track:nth-last-child(2) {
            opacity: 0.66667;
            height: 40px;
            display: block; }
            #content #tracks.tracks .track:nth-last-child(3) {
              opacity: 0.5;
              height: 40px;
              display: block; }
              #content #tracks.tracks .track:nth-last-child(4) {
                opacity: 0.33333;
                height: 40px;
                display: block; }
                #content #tracks.tracks .track:nth-last-child(5) {
                  opacity: 0.16667;
                  height: 40px;
                  display: block; }
                  #content #tracks.tracks .track:hover {
                    height: 100px; }
                    #content #tracks.tracks .track:hover .coverart {
                      height: 100px; }
                      #content #tracks.tracks .track:hover .coverart img {
                        margin-top: 0; }
                    #content #tracks.tracks .track:hover .text {
                      padding-top: 28px; }
                      #content #tracks.tracks .track:hover .stats {
                        height: 16px;
                        margin-top: 4px;
                        opacity: 1; }
    #content #tracks.tracks .track:last-child, #content #tracks.tracks .track.next {
      height: 100px;
      opacity: 1; }
      #content #tracks.tracks .track:last-child .coverart,
      #content #tracks.tracks .track.next .coverart {
        height: 100px; }
        #content #tracks.tracks .track:last-child .coverart img,
        #content #tracks.tracks .track.next .coverart img {
          margin-top: 0; }
      #content #tracks.tracks .track:last-child .text,
      #content #tracks.tracks .track.next .text {
        padding-top: 0;
        height: 72px; }
        #content #tracks.tracks .track:last-child .text .title,
        #content #tracks.tracks .track.next .text .title {
          display: block;
          font-size: 40px; }
          #content #tracks.tracks .track:last-child .text .artist,
          #content #tracks.tracks .track.next .text .artist {
            display: block;
            opacity: 0.5;
            font-size: 20px;
            padding: 0 3px;
            float: left;
            max-width: 700px;
            height: 29px;
            overflow: hidden; }
      #content #tracks.tracks .track:last-child .stats,
      #content #tracks.tracks .track.next .stats {
        display: block;
        height: 24px;
        margin: 0;
        padding: 5px;
        opacity: 1; }
        #content #tracks.tracks .track:last-child .buttons,
        #content #tracks.tracks .track.next .buttons {
          height: 26px;
          max-width: 100%;
          opacity: 1; }
    #content #tracks.tracks .track.hidden, #content #tracks.tracks .track.ending {
      height: 0;
      opacity: 0;
      margin: 0; }
  #content #done.tracks {
    position: absolute;
    top: 710px;
    left: 284px;
    right: 0;
    overflow: hidden;
    padding: 0 0 20px 40px;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out; }
    #content #done.tracks .track {
      display: none; }
      #content #done.tracks .track:nth-child(0) {
        opacity: 0.5;
        height: 40px;
        display: block; }
        #content #done.tracks .track:nth-child(1) {
          opacity: 0.41667;
          height: 40px;
          display: block; }
          #content #done.tracks .track:nth-child(2) {
            opacity: 0.33333;
            height: 40px;
            display: block; }
            #content #done.tracks .track:nth-child(3) {
              opacity: 0.25;
              height: 40px;
              display: block; }
              #content #done.tracks .track:nth-child(4) {
                opacity: 0.16667;
                height: 40px;
                display: block; }
                #content #done.tracks .track:nth-child(5) {
                  opacity: 0.08333;
                  height: 40px;
                  display: block; }
                  #content #done.tracks .track.hidden, #content #done.tracks .track.ending {
                    height: 0;
                    opacity: 0;
                    margin: 0; }
  #content #waveform {
    position: absolute;
    top: 409px;
    left: 0;
    height: 280px;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out; }

@media (max-height: 700px) {
  body #menu #logo {
    height: 169px;   }
  body #content .track_container {
    height: 350px;   }
    body #content .track_container #tracks.tracks .track:nth-last-child(5) {
      opacity: 0;
      height: 0;   }
  body #content #waveform {
    top: 327px;   }
    body #content #done.tracks {
      top: 630px;   }
      body #content #done.tracks .track:nth-child(2) {
        opacity: 0;
        height: 0;   }
        body #content #done.tracks .track:nth-child(3) {
          opacity: 0;
          height: 0;   }
          body #content #done.tracks .track:nth-child(4) {
            opacity: 0;
            height: 0;   }
            body #content #done.tracks .track:nth-child(5) {
              opacity: 0;
              height: 0;   }
}

@media (max-height: 600px) {
  body #menu h2 {
    height: 0;
    opacity: 0;   }
    body #menu #player {
      margin-top: 12px;   }
  body #content .track_container {
    height: 288px;   }
    body #content .track_container #tracks.tracks .track:nth-last-child(4) {
      opacity: 0;
      height: 0;   }
  body #content #waveform {
    top: 265px;   }
    body #content #done.tracks {
      top: 566px;   }
}

@media (max-height: 500px) {
  body #menu h1 {
    height: 0;
    opacity: 0;   }
  body #content .track_container {
    height: 227px;   }
    body #content .track_container #tracks.tracks .track:nth-last-child(3) {
      opacity: 0;
      height: 0;   }
  body #content #waveform {
    top: 203px;   }
    body #content #done.tracks {
      top: 504px;   }
}
