#Table_01 {
	position: relative;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 222px;
}

#Oracle-01 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 56px;
}

#Oracle-02 {
	position: absolute;
	left: 0px;
	top: 56px;
	width: 49px;
	height: 104px;
}

#Oracle-03 {
	position: absolute;
	left: 49px;
	top: 56px;
	width: 107px;
	height: 104px;
	background-image: url(static/assets/img/oracle-off.png);
}

#Oracle-03:HOVER {
	position: absolute;
	left: 49px;
	top: 56px;
	width: 107px;
	height: 104px;
	cursor: pointer;
	background-image: url(static/assets/img/oracle-hover.png);
}

#Oracle-03:ACTIVE {
	position: absolute;
	left: 49px;
	top: 56px;
	width: 107px;
	height: 104px;
	background-image: url(static/assets/img/oracle-on.png);
}

#Oracle-04 {
	position: absolute;
	left: 156px;
	top: 56px;
	width: 44px;
	height: 104px;
}

#Oracle-05 {
	position: absolute;
	left: 0px;
	top: 160px;
	width: 200px;
	height: 62px;
}
