	
	body {
	  background-image: url(/static/img/tile3.jpg);
	}

	.track_art {
	    max-width:150px;
	    max-height: 150px
	    margin-bottom: 10px;
	}



BODY TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
	color: black;
	/*+box-shadow: 3px 4px 6px #514949;*/
	-moz-box-shadow: 3px 4px 6px #514949;
	-webkit-box-shadow: 3px 4px 6px #514949;
	box-shadow: 3px 4px 6px #514949;
	background-color: #E7E6E6;
	background-image: url(/static/img/tile.jpg);
}

TD
{
	padding: 4px;
	border: 3px outset white;
}

TR
{
	border: 2px solid transparent;
}

TBODY
{
	border: 3px outset white;
}

BODY H1
{
	font-size: 15px;
	color: teal;
}



