
$min_height = 470px;
	/************Reset**************/
	* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	
	html, div { 
		margin: 0; 
		padding: 0; 
		border: 0;
	} 

	/************End Reset**************/
body {
	padding: 0;
	margin: 0;
	/*background: url(/static/img/background.png) #d5d5d5;*/
	font-family: "Signika", "Meta", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	width: 100%;
	min-height: $min_height;

	.legal_stuff {width:500px; margin-bottom:2em;}

	/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

	/*
	 * What follows is the result of much research on cross-browser styling.
	 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
	 * Kroc Camen, and the H5BP dev community and team.
	 */

	/* ==========================================================================
	   Base styles: opinionated defaults
	   ========================================================================== */
	/* STRUCTURE BOF mZoo 3col*/


	#pagewrap {
		padding: 0;
		width:100%;
	}
	#header {
		padding: 0 15px;
	}
	/************Reset**************/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	html, body, div, object, iframe, fieldset { 
		margin: 0; 
		padding: 0; 
		border: 0;
	} 
	ol, ul { 
		list-style: none;
		margin: 0;
		padding: 0;
	} 
	table { 
		border-collapse: collapse; 
		border-spacing: 0; 
	}
	header, footer, nav, section, article, hgroup, figure {
		display: block;	
	}
	legend {
		display: none;
	}
	/************End Reset**************/
	/************Start Index**************/

	.grid {
	  overflow: hidden;
	  padding: 0.5em 0 0 0.5em;
	  /*max-width: 76em;*/
	  margin: 0 auto;
	}
	.grid li {
	  padding: 0 0.5em 0.5em 0;
	}
	.grid li > div {
	  border: 1px solid lime;
	  padding: 1em 2em;
	  text-align: left;
	}
	.grid li.wide {
	  width: 100%;
	}
	.grid li a {
	  color: #999;
	}  

	@media all and (min-width: 40em) {
	  .grid li {
		float: left;
		width: 33.3333333%;
	  }
	  .grid li.wide {
		width: 66.666666%;
	  }
	}
	@media all and (min-width: 60em) {
	  .grid li {
		width: 25%;
	  }
	  .grid li.wide {
		width: 50%;
	  }
	}
	/************End Index**************/


	/************End Classes**************/

	/************Structure**************/
	.container {
		max-width: 70em;
		margin: 0 auto;
		padding: 0 1em;
		overflow: hidden;
	}
	div[role=main] {
		padding-bottom: 1em;
	}

	/*Footer*/
	footer[role=contentinfo] {
		color: #fff;
		background: #000;
		margin: 0 -1em;
		position: relative;
		z-index: 2;
	}
	footer[role=contentinfo] > div {
		max-width: 70em;
		padding: 0 1em;
		margin: 0 auto;
		overflow: hidden;
	}
	footer[role=contentinfo] p {
		margin: 0;
	}
	footer[role=contentinfo] .nav li a {
		display: block;
		border-bottom: 1px solid #808080;
		padding: 1em;
		margin: 0 -1em;
	}
	footer[role=contentinfo] a {
		display: inline-block;
		padding: 0.5em 0;
	}
	footer[role=contentinfo] a.nav-home {
		color: #fff;
	}
	footer[role=contentinfo] .f-rga {
		padding: 0.6em 0;
	}
	footer[role=contentinfo] img {
		max-width: 4.4em;
		display: inline-block;
		margin-bottom: -0.22em;
	}
	/*End Footer*/


	/******Media Queries*******/

	/* Medium Screens*/
	@media all and (min-width: 35em) {
		.blog-logo {
			float: left;
			font-size: 2em;
			margin: 0 0 1em;
		}
		.blog-logo img {
			width: auto;
		}
	}
	@media all and (min-width:40em) {
		h1 {
			font-size: 3.6em;
		}
		.container {
			padding-bottom: 4em;
		}
		footer[role=contentinfo] {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}
		footer[role=contentinfo] .nav {
			float: left;
		}
		footer[role=contentinfo] .nav li {
			display: inline-block;
			margin-right: 0.8em;
		}
		footer[role=contentinfo] .nav li a {
			border: 0;
		}
		footer[role=contentinfo] .f-rga {
			float: right;
		}
		.grid ul li {
			width: 50%;
			float: left;
		}
		.grid ul li:nth-child(odd) {
			padding-right: 1em;
			clear: left;
		}
		.ani {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 4em;
			left: 0;
			width: 100%;
			height: 90%;
			margin: 0;
			z-index: 0;
		}
		.home {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 5em;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 90%;
			display: table;
			text-align: center;
			color: #fff;
			color: rgba(255,255,255,0.7);
		}
		.home > div {
			display: table-cell;
			vertical-align: middle;
		}
		.home .intro a {
			color: #fff;
			color: rgba(255,255,255,0.8);
			border-bottom: 1px solid rgba(255,255,255,0.8);
		}
		.home .intro a:hover, .home .intro a:focus {
			color: #000;
			border-bottom-color: #000;
		}
		
	}


	/* Large Screens */
	@media all and (min-width: 54em) {
		h1 {
			font-size: 2.4em;
		}
		.grid > section {
			float: left;
			width: 33.3333333%;
		}
		.grid > section:nth-of-type(3n+1) {
			clear: left;
		}
		.grid ul li {
			width: auto;
			float: none;
		}
		.grid ul li:nth-child(odd) {
			padding-right: 0;
		}
	}	


	/* CSS Animations */
	@-webkit-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@-moz-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@-o-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}


	/*EOF mZoo 3col*/

	/*BOF Three column flowing mZoo - may use*/
	#example p:first-of-type {font-weight:600;}
	/* ==========================================================================
	   Author's custom styles
	   ========================================================================== */

	#example p:first-of-type {font-weight:600;}
	@media all and (max-width: 900px) and (min-width: 600px) {
		#left {max-width: 290px;}
	#example p  {
	  -webkit-column-count: 2; /* Saf3, Chrome*/
	  -webkit-column-gap: 4%; /* Saf3, Chrome*/
	  -moz-column-count: 2; /* FF3.5+ */
	  -moz-column-gap: 4%; /* FF3.5+ */
	  column-count: 2; /* Opera 11+*/
	  column-gap: 4%; /* Opera 11+*/
	  }
	}

	@media all and (min-width: 900px) {
	#left {max-width: 290px;}
	#example p:first-of-type  {
	  -webkit-column-count: 2;
	  -webkit-column-gap: 3%; /* Saf3, Chrome*/
	  -moz-column-count: 2;   
	  -moz-column-gap: 3%; /* FF3.5+ */
	  column-count: 2;        
	  column-gap: 3%; /* Opera 11+*/
	  }
	   #example p  {
	  -webkit-column-count: 3;
	  -webkit-column-gap: 1%; /* Saf3, Chrome*/
	  -moz-column-count: 3;   
	  -moz-column-gap: 1%; /* FF3.5+ */
	  column-count: 3;        
	  column-gap: 1%; /* Opera 11+*/
	  }
	}

	

	/*
	 * Hide visually and from screenreaders, but maintain layout
	 */

	.invisible {
		visibility: hidden;
	}

	/*
	 * Clearfix: contain floats
	 *
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    `contenteditable` attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that receive the `clearfix` class.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */

	.clearfix:before,
	.clearfix:after {
		left: " "; /* 1 */
		display: table; /* 2 */
	}

	.clearfix:after {
		clear: both;
	}


	#left {
		background: rgba(1.0, 1.0, 1.0, 0.55);
		
	#trackdetails {
		margin-left:10px;
		display: inline-block;
		.artist, .length {margin:0px 8px 0px 8px; color:#fff;}
		.artist {float:left}
		.length {float:right}
		.nametime {display:inline-block;background:red}
	}

	#player {
	  width: 256px;
	  margin: 29px 22px 4px;
	  overflow: hidden;
	  z-index: 5;
	}
	
	.track-button {
	background: red;
	cursor: pointer;
	color: #fff;
	}
	
	#admin_player {
	  width: 50px;
	  margin: 10px 10px 4px;
	  overflow: hidden;
	  z-index: 5;
	}
}


#header {
	margin-bottom: 15px;
}

#pagewrap, #header {
	border: solid 1px lime;
}
  
 //Begin Popup Stying

.popup-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(196, 196, 196, .85);
	top: 0;
	left: 100%;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-ms-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}
.overlay .popup-overlay {
	opacity: 1;
	left: 0
}
.popup {
	position: fixed;
	top: 25%;
	left: 40%;
	z-index: -9999;
}
.popup .popup-body {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
	opacity: 0;
	min-height: 150px;
	width: 90%;
	margin-left: -25%;
	padding: 20px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-ms-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
	position: relative;
	-moz-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
	-webkit-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
	box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
	text-align: left;
	border: 1px solid #e9e9e9;
	overflow-y:scroll;
	.story {
		overflow-y: auto;
		height:250px;
		background-color: #F5F5F5;
	}
}

.popup.visible, .popup.transitioning {
	z-index: 9999;
}
.popup.visible .popup-body {
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.popup .popup-exit {
	cursor: pointer;
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	right: 25px;
	background: url("/static/assets/img/quit.png") no-repeat;
}
.popup .popup-content {
	overflow-y: scroll;
}
.popup-content .popup-title {
	font-size: 24px;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
}
.popup-content p {
	font-size: 13px;
	text-align: justify;
}
//End popup styling


}
