	/* Major Glitch Table */

	#Infinite_Chunk_Player {
			background-image: url(/static/img/Infinite-Chunk-Player.png);
			background-size:   contain;                    
			background-repeat: no-repeat;
			background-position: center center; 
			max-width:100%;
			width:379px;
			height:150px;
	}
	@media only screen and (min-width: 40em) {
	#Infinite_Chunk_Player { 
			width:430px;
			height:170px;
            }
	}
	@media only screen and (min-width: 60em) {
	#Infinite_Chunk_Player { 
			width:506px;
			height:201px;
            }
	}
	//End Major Glitch Player