body .grid li.wide {
		background-image: url("../img/tile.jpg");
		border: 4px double gray;
		border-radius: 12px;
		box-shadow: 3px 4px 6px #514949;
		color: black;
		padding: 0 0 10px 12px;
	}

BODY .grid LI.wide A
{
	color: #3333B5;
	margin: 0;
}

	p.floatRight
	{
		border-bottom: 1px solid gray;
		border-top: 1px solid gray;
		color: #000000;
		margin-left: 136px;
		margin-top: -129px;
		padding-bottom: 5px;
		padding-top: 5px;
		position: absolute;
		text-align: justify;
		width: 160px;
	}

/*7th March*/
#creditname
{
	border-left: 1px solid teal;
	border-bottom: 1px solid teal;
	border-bottom-left-radius: 8px;
	padding: 0px 0px 0px 3px;
}

/*Added 8th March*/
P.intro-copy
{
	width: 650px;
	color: #000000;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}


	@media all and (min-width: 40em){
		p.floatRight
		{
			width: 200px;
			margin-left: 226px;
			margin-top: -149px;
		}
	}

	@media all and (min-width: 60em){
		p.floatRight
		{
			width: 300px;
			margin-left: 306px;
			margin-top: -149px;
		}
	}
