	/* Major Glitch Table */

	#Major_Glitch_Table {
		position:relative;
		left:0px;
		top:0px;
		width:506px;
		height:auto;
		max-width:100%;
	}

	#Major-Glitch-Player-01 {
		position:relative;
		left:0px;
		top:0px;
		width:506px;
		height:auto;
		max-width:100%;
		display:inline-flex;
		img {
			max-width:100%;
			height:auto;
			}
	}

	#Major-Glitch-Player-02 {
		position:relative;
		left:0px;
		width:104px;
		height:auto;
		max-width:20%;
		display:inline-flex;
		img {
			max-width:100%;
			height:auto;
			}
	}

	#Major-Glitch-Player-03 {
		position:relative;
		width:300px;
		height:auto;
		max-width:60%;
		top:-96px;
		left:-1%;
		display:inline-flex;
		img {
			max-width:100%;
			height:auto;
			}
	}

	#Major-Glitch-Player-04 {
		position:relative;
		left:80%;
		width:102px;
		height:auto;
		max-width:20%;
		display:inline-flex;
		top:-131px;
		img {
			max-width:100%;
			height:auto;
			}
	}

	#Major-Glitch-Player-05 {
		position:relative;
		left:-1%;
		width:300px;
		height:auto;
		max-width:60%;
		display:inline-flex;
		top: -131px;
		img {
			max-width:100%;
			height:auto;
			}
	}
	//End Major Glitch Player