	/* Major Glitch Table */

	
	#Major_Glitch_Table {
		position:relative;
		left:0px;
		top:0px;
		width:506px;
		height:248px;
	}

	#Major-Glitch-Player-01 {
		position:absolute;
		left:0px;
		top:0px;
		width:506px;
		height:122px;
	}

	#Major-Glitch-Player-02 {
		position:absolute;
		left:0px;
		top:122px;
		width:104px;
		height:126px;
	}

	#Major-Glitch-Player-03 {
		position:absolute;
		left:104px;
		top:122px;
		width:300px;
		height:30px;
	}

	#Major-Glitch-Player-04 {
		position:absolute;
		left:404px;
		top:122px;
		width:102px;
		height:126px;
	}

	#Major-Glitch-Player-05 {
		position:absolute;
		left:104px;
		top:152px;
		width:300px;
		height:96px;
	}
	//End Major Glitch Player