
$min_height = 470px;
/************Reset**************/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, object, iframe, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
legend {
	display: none;
}
/************End Reset**************/
body {
	margin: 0;
	font-family: "Signika", "Meta", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	width: 100%;
	min-height: 470px;
  	background-color: #B06E6C;

	#title-admin {
	  width: 418px;
	  height: 104px;
		background: url(/static/img/glitchlogo-small.jpg);
		background-size:   contain;                    
		background-repeat: no-repeat;
		background-position: center center; 
	  /*+box-shadow: 3px 4px 6px #514949 !important;*/
	  -moz-box-shadow: 3px 4px 6px #514949 !important;
	  -webkit-box-shadow: 3px 4px 6px #514949 !important;
	  box-shadow: 3px 4px 6px #514949 !important;
	  background-color: #B06E6C;
	  /*+border-radius: 12px;*/
	  -moz-border-radius: 12px;
	  -webkit-border-radius: 12px;
	  -khtml-border-radius: 12px;
	  border-radius: 12px;
	  background-color: #b06e6c;
      margin: 0;
      max-width: 80%;
	}
	
	#manage_track{
	
		.player{
			float:right;
			width:20%;
			}
		.details{
			float:left;
			width:80%;
			}
		.clear{
			clear: both;
			}
		}
	.status_alert {
		color: red;
		font-weight: 900;
	}
	#loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
	
	img.floatLoose {
	  /*+box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.667);*/
	  -moz-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.667);
	  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.667);
	  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.667);
	  max-width: 80%;
	  height:auto;
	}
	img.tabHeading  {
	  max-width: 80%;
	  height:auto;
	}

	/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
	 * What follows is the result of much research on cross-browser styling.
	 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
	 * Kroc Camen, and the H5BP dev community and team.
	 */
	/* ==========================================================================
		   Base styles: opinionated defaults
		   ========================================================================== */
	/* STRUCTURE BOF mZoo 3col*/
	#pagewrap {
		padding: 0;
		width: 100%;
	}
	
	
	.errors {
		color: red;
		}
		
	.left-player {
		width: 291px;
		float: none;
		height: 500px;
		background: url(/static/img/player.jpg);
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
		/*+box-shadow: 3px 4px 6px #514949 !important;*/
		-moz-box-shadow: 3px 4px 6px #514949 !important;
		-webkit-box-shadow: 3px 4px 6px #514949 !important;
		box-shadow: 3px 4px 6px #514949 !important;
	}
	#trackdetails {
		display: inline-block;
		margin: 56px 0 0 25px;
	}
	#trackdetails .artist, #left #trackdetails .length {
		margin: 0px 8px;
	}
	#trackdetails .artist {
		float: left;
	}
	#trackdetails .length {
		float: right;
	}
	#trackdetails .nametime {
		display: inline-block;
		background: ;
	}
	
	.entire_length {
		color: red;
		font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
		font-size: 12px;
		font-weight: 800;
		opacity: 0.5;
		position: absolute;
	    top: 622px;
		left: 33px;
	}
	
	#player {
		width: 256px;
		margin: 34px 22px 4px 20px;
		overflow: hidden;
		z-index: 5;
		height: 256px;
	}

	.track-button {
		background: url(/static/img/tile2.jpg) black;
		cursor: pointer;
		color: white;
		/*+border-radius: 10px;*/
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		margin: 8px 2px 2px;
		/*+box-shadow: 3px 2px 2px black;*/
		-moz-box-shadow: 3px 2px 2px black;
		-webkit-box-shadow: 3px 2px 2px black;
		box-shadow: 3px 2px 2px black;
		border: 1px outset silver;
	}
	.track-button:HOVER {
		background: url(/static/img/tile2.jpg) black;
		cursor: pointer;
		color: #EBEB9D;
		/*+border-radius: 10px;*/
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		margin: 8px 2px 2px;
		/*+box-shadow: 3px 2px 2px black;*/
		-moz-box-shadow: 3px 2px 2px black;
		-webkit-box-shadow: 3px 2px 2px black;
		box-shadow: 3px 2px 2px black;
		border: 1px outset silver;
	}
	.track-button:ACTIVE {
		background: url(/static/img/tile2.jpg) black;
		cursor: pointer;
		color: silver;
		/*+border-radius: 10px;*/
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		margin: 9px 2px 1px 4px;
		/*+box-shadow: 3px 2px 2px transparent;*/
		-moz-box-shadow: 3px 2px 2px transparent;
		-webkit-box-shadow: 3px 2px 2px transparent;
		box-shadow: 3px 2px 2px transparent;
		border: 1px inset silver;
	}
	#title {
		width: 620px;
		height: 168px;
		background: url(/static/img/glitchlogo.jpg) no-repeat;
		/*+box-shadow: 3px 4px 6px #514949 !important;*/
		-moz-box-shadow: 3px 4px 6px #514949 !important;
		-webkit-box-shadow: 3px 4px 6px #514949 !important;
		box-shadow: 3px 4px 6px #514949 !important;
		background-color: #B06E6C;
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
	}
	
	.main {
		border: 1px solid transparent;
		margin-left:0p;
		margin: -10px 0 0;
	}
	.user {
	}
	.user p {
		float: right;
		margin: 3px 29px 11px 2px;
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
		padding: 2px 10px;
		background-image: url(../img/tile.jpg);
		border: 1px solid #CBCBCB;
		/*+box-shadow: 2px 3px 4px #514949;*/
		-moz-box-shadow: 2px 3px 4px #514949;
		-webkit-box-shadow: 2px 3px 4px #514949;
		box-shadow: 2px 3px 4px #514949;
	}
	.lyric_credits {
		color: #015656;
		margin-left: 0px;
		margin-right: 100px;
		font: ;
		border-left: 1px solid #015656;
		padding: 0 0 0 5px;
		border-top: 1px solid teal;
		border-top-left-radius: 12px;
	}
	/************Start Percent Grid**************/
	.grid {
		overflow: hidden;
		padding: 0;
		/*max-width: 76em;*/
		margin: 0 auto;
	}
	.grid li {
		padding: 0 0.5em 0.5em 0;
	}
	.grid li > div {
		padding: 0;
		text-align: left;
	}
	
	.grid li > nav {
		padding: 0.5em;
		text-align: left;
		/*+box-shadow: black;*/
		-moz-box-shadow: black;
		-webkit-box-shadow: black;
		box-shadow: black;
	}
	
	.grid li.wide {
		width: 100%;
		background-image: url(../img/tile2.jpg);
		padding: 5px 0px;
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
		border: 4px double #771011;
		/*+box-shadow: 3px 4px 6px #514949;*/
		-moz-box-shadow: 3px 4px 6px #514949;
		-webkit-box-shadow: 3px 4px 6px #514949;
		box-shadow: 3px 4px 6px #514949;
		color: #C0C0C0;
		margin: 0 0 10px 0;
	}
	.grid li a {
		color: #0000ff;
		margin: 0 0 0 0;
	}
	/************End Percent Grid**************/
	/************Structure**************/
	.container {
		max-width: 70em;
		margin: 0 auto;
		padding: 0 1em;
		overflow: hidden;
	}
	div[role=main] {
		padding-bottom: 1em;
	}
	/*Footer*/
	footer[role=contentinfo] {
		color: #FFF;
		background: url(/static/img/footer-tile.jpg) #000;
		margin: 0 -1em;
		position: relative;
		z-index: 2;
	}
	footer[role=contentinfo] > div {
		max-width: 70em;
		padding: 0 1em;
		margin: 0 auto;
		overflow: hidden;
	}
	footer[role=contentinfo] p {
		margin: 0;
	}
	footer[role=contentinfo] .nav li a {
		display: block;
		border-bottom: 1px solid #808080;
		padding: 1em;
		margin: 0 -1em;
	}
	footer[role=contentinfo] a {
		display: inline-block;
		padding: 0em 0.3em;
		background-image: url(../img/tile3.jpg);
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
		margin: 5px 0 4px 3px;
		border: 1px solid transparent;
	}
	footer[role=contentinfo] a:hover {
		display: inline-block;
		padding: 0em 0.3em;
		background-image: url(../img/tile.jpg);
		/*+border-radius: 12px;*/
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		border-radius: 12px;
		margin: 4px 0 4px 3px;
		border: 1px solid white;
		color: white;
	}
	footer[role=contentinfo] a.nav-home {
		color: #FFF;
	}
	footer[role=contentinfo] .f-rga {
		padding: 0.6em 0;
	}
	footer[role=contentinfo] img {
		max-width: 4.4em;
		display: inline-block;
		margin-bottom: -0.22em;
	}
	/*End Footer*/



	/* CSS Animations */
	@-webkit-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@-moz-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@-o-keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}
	@keyframes fadeout {
	  0%   { background: #fff; }
	  10%   { background: #eee; }
	  100% { background: #fff; }
	}


	/*EOF mZoo 3col*/

	/*
	 * Hide visually and from screenreaders, but maintain layout
	 */

	.invisible {
		visibility: hidden;
	}

	/*
	 * Clearfix: contain floats
	 *
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    `contenteditable` attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that receive the `clearfix` class.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */

	.clearfix:before,
	.clearfix:after {
		left: " "; /* 1 */
		display: table; /* 2 */
	}

	.clearfix:after {
		clear: both;
	}

	
	.secondary-grid li {
		padding: 0 0.5em 0.5em 0;
	}
	.secondary-grid li > div {
		padding: 0.5em;
		text-align: left;
	}

	.secondary-grid li a {
		color: #999;
		margin: 0 0 0 19px;
	}
	
	.secondary-grid li.wide {
		background-image: url("../img/tile.jpg");
		border: 4px double gray;
		border-radius: 12px;
		box-shadow: 3px 4px 6px #514949;
		color: black;
		margin: 0 0 0 86px;
		padding: 0 0 10px 12px;
	}
	
	table.secondary	{
		background-image: url(../img/tile3.jpg);
		border: 7px solid transparent;
		border-collapse: collapse;
		border-radius: 10px;
		border-spacing: 0;
		box-shadow: 0 0 4px #514949;
	}

	#header {
		margin-bottom: 15px;
	}
	
	/* Devil Glitch Table */

	#Devil_Glitch_Table {
		position:relative;
		left:0px;
		top:0px;
		width:506px;
		height:285px;
	}

	#Devil-Glitch-Player-01 {
		position:absolute;
		left:0px;
		top:0px;
		width:506px;
		height:117px;
	}

	#Devil-Glitch-Player-02 {
		position:absolute;
		left:0px;
		top:117px;
		width:103px;
		height:101px;
	}

	#Devil-Glitch-Player-03 {
		position:absolute;
		left:103px;
		top:117px;
		width:300px;
		height:30px;
	}

	#Devil-Glitch-Player-04 {
		position:absolute;
		left:403px;
		top:117px;
		width:103px;
		height:101px;
	}

	#Devil-Glitch-Player-05 {
		position:absolute;
		left:103px;
		top:147px;
		width:300px;
		height:41px;
	}

	#Devil-Glitch-Player-06 {
		position:absolute;
		left:103px;
		top:188px;
		width:300px;
		height:30px;
	}

	#Devil-Glitch-Player-07 {
		position:absolute;
		left:0px;
		top:218px;
		width:506px;
		height:67px;
	}


	/* Major Glitch Table 

	#Major_Glitch_Table {
		position:relative;
		left:0px;
		top:0px;
		width:506px;
		height:248px;
	}

	#Major-Glitch-Player-01 {
		position:absolute;
		left:0px;
		top:0px;
		width:506px;
		height:122px;
	}

	#Major-Glitch-Player-02 {
		position:absolute;
		left:0px;
		top:122px;
		width:104px;
		height:126px;
	}

	#Major-Glitch-Player-03 {
		position:absolute;
		left:104px;
		top:122px;
		width:300px;
		height:30px;
	}

	#Major-Glitch-Player-04 {
		position:absolute;
		left:404px;
		top:122px;
		width:102px;
		height:126px;
	}

	#Major-Glitch-Player-05 {
		position:absolute;
		left:104px;
		top:152px;
		width:300px;
		height:96px;
	}
	//End Major Glitch Player  */
	
//Begin Glitch Oracle Styling
	#Table_01 {
		height: 251px;
		left: 0;
		position: relative;
		top: 0;   
		width: 220px;
    	margin: 0 auto;
	}
	#Oracle-01 {
		height: 72px;
		left: 0;
		position: absolute;
		top: 0;
		width: 221px;
	}
	#Oracle-02 {
		height: 104px;
		left: 0;
		position: absolute;
		top: 72px;
		width: 57px;
	}
	#Oracle-03 {
		background-image: url("../img/oracle-off.png");
		height: 104px;
		left: 57px;
		position: absolute;
		top: 72px;
		width: 107px;
	}
	#Oracle-03:hover {
		background-image: url("../img/oracle-hover.png");
		cursor: pointer;
		height: 104px;
		left: 57px;
		position: absolute;
		top: 72px;
		width: 107px;
	}
	#Oracle-03:active {
		background-image: url("../img/oracle-on.png");
		height: 104px;
		left: 57px;
		position: absolute;
		top: 72px;
		width: 107px;
	}
	#Oracle-04 {
		height: 104px;
		left: 164px;
		position: absolute;
		top: 72px;
		width: 57px;
	}
	#Oracle-05 {
		height: 75px;
		left: 0;
		position: absolute;
		top: 176px;
		width: 221px;
	}
//End Glitch Oracle Styling
  
 //Begin Popup Stying

		.popup-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(196, 196, 196, 0.85);
		top: 0;
		left: 100%;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transition: opacity .2s ease-out;
		-moz-transition: opacity .2s ease-out;
		-ms-transition: opacity .2s ease-out;
		-o-transition: opacity .2s ease-out;
		transition: opacity 0.2s ease-out;
	}
		.overlay .popup-overlay {
		opacity: 1;
		left: 0;
	}
		.popup {
		position: fixed;
		top: 25%;
		left: 40%;
		z-index: -9999;
	}
		.popup .popup-body {
		background: white;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
		background: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
		background: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
		background: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
		background: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
		opacity: 0;
		min-height: 150px;
		width: 90%;
		margin-left: -25%;
		padding: 0px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transition: opacity .2s ease-out;
		-moz-transition: opacity .2s ease-out;
		-ms-transition: opacity .2s ease-out;
		-o-transition: opacity .2s ease-out;
		transition: opacity 0.2s ease-out;
		position: relative;
		-moz-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
		-webkit-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
		box-shadow: 0 0 7px 2px #343030;
		text-align: left;
		border: 1px solid #E9E9E9;
		/*+border-radius: 12px 0px 0px 12px;*/
		-moz-border-radius: 12px 0px 0px 12px;
		-webkit-border-radius: 12px 0px 0px 12px;
		-khtml-border-radius: 12px 0px 0px 12px;
		border-radius: 12px 0px 0px 12px;
	}
		.story {
		overflow-y: auto;
		height: 250px;
		background-color: #F5F5F5;
		/*+border-radius: 9px;*/
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		-khtml-border-radius: 9px;
		border-radius: 9px;
		padding: 6px 0 0 8px;
	}
		.popup.visible, .popup.transitioning {
		z-index: 9999;
	}
		.popup.visible .popup-body {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		background-color: ;
	}
		.popup .popup-exit {
		cursor: pointer;
		display: block;
		width: 32px;
		height: 32px;
		position: absolute;
		top: 10px;
		right: 25px;
		background: url("../img/quit.png") no-repeat;
	}
		.popup .popup-content {
		overflow-y: scroll;
		background-color: #B06E6C;
		padding: 0 10px;
		background-image: url(../img/tile.jpg);
		/*+border-radius: 12px 0px 0px 12px;*/
		-moz-border-radius: 12px 0px 0px 12px;
		-webkit-border-radius: 12px 0px 0px 12px;
		-khtml-border-radius: 12px 0px 0px 12px;
		border-radius: 12px 0px 0px 12px;
	}
		.popup-content .popup-title {
		font-size: 20px;
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: 10px;
		color: white;
		text-shadow: 2px 2px 1px black;
	}
		.popup-content p {
		font-size: 13px;
		text-align: justify;
	}
	//End popup styling
	/* ==========================================================================
	   Paragraph custom styles
	   ========================================================================== */

	#responsive_paragraphs p:first-of-type {font-weight:600;}
	@media all and (max-width: 900px) and (min-width: 600px) {
		#left {max-width: 290px;}
	#responsive_paragraphs p  {
	  -webkit-column-count: 2; /* Saf3, Chrome*/
	  -webkit-column-gap: 4%; /* Saf3, Chrome*/
	  -moz-column-count: 2; /* FF3.5+ */
	  -moz-column-gap: 4%; /* FF3.5+ */
	  column-count: 2; /* Opera 11+*/
	  column-gap: 4%; /* Opera 11+*/
	  }
	}

	@media all and (min-width: 900px) {
	#left {max-width: 290px;}
	#responsive_paragraphs p:first-of-type  {
	  -webkit-column-count: 2;
	  -webkit-column-gap: 3%; /* Saf3, Chrome*/
	  -moz-column-count: 2;   
	  -moz-column-gap: 3%; /* FF3.5+ */
	  column-count: 2;        
	  column-gap: 3%; /* Opera 11+*/
	  }
	   #responsive_paragraphs p  {
	  -webkit-column-count: 3;
	  -webkit-column-gap: 1%; /* Saf3, Chrome*/
	  -moz-column-count: 3;   
	  -moz-column-gap: 1%; /* FF3.5+ */
	  column-count: 3;        
	  column-gap: 1%; /* Opera 11+*/
	  }
	}

	/******Media Queries*******/

	/* Medium Screens*/
	@media all and (max-width: 40em) {
	
		padding: 0;
		
		#title {
			width: 310px;
			height: 84px;
			background: url(/static/img/glitchlogo.jpg);
			background-size:   contain;                    
			background-repeat: no-repeat;
			background-position: center center;   	
			}
		#title-admin {
			width: 310px;
			height: 84px;
			background: url(/static/img/glitchlogo.jpg);
			background-size:   contain;                    
			background-repeat: no-repeat;
			background-position: center center;   	
			}
	}
	
	@media all and (min-width:40em) {
	
		padding: 2em;
		
		h1 {
			font-size: 3.6em;
			color:red;
		}
		.container {
			padding-bottom: 4em;
		}
		footer[role=contentinfo] {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}
		footer[role=contentinfo] .nav {
			float: left;
		}
		footer[role=contentinfo] .nav li {
			display: inline-block;
			margin-right: 0.8em;
		}
		footer[role=contentinfo] .nav li a {
			border: 0;
		}
		footer[role=contentinfo] .f-rga {
			float: right;
		}
		.grid ul li {
			width: 50%;
			float: left;
		}
		.grid ul li:nth-child(odd) {
			padding-right: 1em;
			clear: left;
		}
		.secondary-grid ul li {
			width: 50%;
			float: left;
		}
		.secondary-grid ul li:nth-child(odd) {
			padding-right: 1em;
			clear: left;
		}
		.ani {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 4em;
			left: 0;
			width: 100%;
			height: 90%;
			margin: 0;
			z-index: 0;
		}
		.home {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 5em;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 90%;
			display: table;
			text-align: center;
			color: #fff;
			color: rgba(255,255,255,0.7);
		}
		.home > div {
			display: table-cell;
			vertical-align: middle;
		}
		.home .intro a {
			color: #fff;
			color: rgba(255,255,255,0.8);
			border-bottom: 1px solid rgba(255,255,255,0.8);
		}
		.home .intro a:hover, .home .intro a:focus {
			color: #000;
			border-bottom-color: #000;
		}
		.grid {
			overflow: hidden;
			padding: 0.5em 0 0 0.5em;
			/*max-width: 76em;*/
			margin: 0 auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > div {
			padding: 0.5em;
			text-align: left;
			/*+box-shadow: black;*/
			-moz-box-shadow: black;
			-webkit-box-shadow: black;
			box-shadow: black;
		}
		
	}
	/************Start Percent Grid Media**************/
	

	/* Large Screens */
	@media all and (min-width: 54em) {
		padding: 4em;
		
		h1 {
			font-size: 2.4em;
			color:red;
		}
		.grid > section {
			float: left;
			width: 33.3333333%;
		}
		.grid > section:nth-of-type(3n+1) {
			clear: left;
		}
		.grid ul li {
			width: auto;
			float: none;
		}
		.grid ul li:nth-child(odd) {
			padding-right: 0;
		}
		.secondary-grid > section {
			float: left;
			width: 33.3333333%;
		}
		.secondary-grid > section:nth-of-type(3n+1) {
			clear: left;
		}
		.secondary-grid ul li {
			width: auto;
			float: none;
		}
		.secondary-grid ul li:nth-child(odd) {
			padding-right: 0;
		}
		
		.main {
			margin-left:290px;
		}
		
		.player-left {
			width:290px;
			float:left;
		}
		#header {
			padding: 0 15px;
		}
		
		.grid {
		overflow: hidden;
		padding: 0.5em 0 0 0.5em;
		/*max-width: 76em;*/
		margin: 0 auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > div {
			padding: 0.5em;
			text-align: left;
			/*+box-shadow: black;*/
			-moz-box-shadow: black;
			-webkit-box-shadow: black;
			box-shadow: black;
		}
	}	

	@media all and (min-width: 40em) {
	
	  .grid li {
		float: left;
		width: 33.3333333%;
	  }
	  .grid li.wide {
		width: 66.666666%;
		padding: 5px 15px;
	  }
	  .secondary-grid li {
		float: left;
		width: 33.3333333%;
	  }
	  .secondary-grid li.wide {
		width: 66.666666%;
	  }
	  .main {
		margin-left:290;
	  }
	  #header {
			padding: 0 15px;
		}
	  #trackdetails {
		display: inline-block;
		margin: 94px 0 0 25px;
		}
	.entire_length {
	    top: 738px;
		left: 68px;
	    }
	}
	

@media all and (min-width: 60em) {
	
	  .left-player {
		float:left;
		width:290px;
	  }
	  .grid li {
		width: 20%;
	  }
	  .grid li.wide {
		width: 80%;
		padding: 5px 15px;
	  }
	  .secondary-grid li {
		width: 20%;
	  }
	  .secondary-grid li.wide {
		width: 80%;
	  }
	  .left-player {
		float:left;
		width:290px;
	  }
	  .main {
		margin-left:290;
	  }
	  .entire_length {
	    top: 735px;
		left: 95px;
	    }
	}
	/************End Percent Grid Media**************/


}
