<footer role="contentinfo">
			<div>				
				<!-- Amended February 28 -->
				<nav id="menu">
					<ul class="footer_menu">
					<li class="footerlist"><a href="/">Home</a> </li>
					<li class="footerlist"><font size="-1">&nbsp;&copy; 2015 Future Fossil</font></li>
					<li class="footerlist"><a href="mailto:beezwax@aol.com">Contact</a>	</li>
					<li class="footerlist"><a href="http://chrisbutler1.bandcamp.com" target="_newbrowser">Bandcamp</a>	</li>
					<li class="footerlist"><a href="http://www.futurefossilmusic.com/" title="Home for all things Chris Butler">Future Fossil Music</a></li>
					<div id="fb-root"></div>
							<script>
							  window.fbAsyncInit = function() {
								FB.init({
								  appId      : '1571033473154183',
								  xfbml      : true,
								  version    : 'v2.2'
								});
							  };

							  (function(d, s, id){
								 var js, fjs = d.getElementsByTagName(s)[0];
								 if (d.getElementById(id)) {return;}
								 js = d.createElement(s); js.id = id;
								 js.src = "//connect.facebook.net/en_US/sdk.js";
								 fjs.parentNode.insertBefore(js, fjs);
							   }(document, 'script', 'facebook-jssdk'));
							</script>
							
							<script>
							window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
							</script>
								<li class="twitter-like">
									<a class="twitter-share-button"
								  href="https://twitter.com/share"
								  data-url="{{ og_url }}">
								Tweet
								</a></li>   

						<li class="fb-like">
						<div class="fb-share-button" data-href="{{ og_url }}" data-layout="button_count"></div>
						</li>
					</ul>
				</nav>			
			</div>		
		</footer>