<nav role="navigation">					
	<div style="text-align: center"><ul>
		<li><a href="/create_account"><img src="static/img/sign-up.png" border="0" width="78" height="23" alt=""></a></li>
		<li><a href="/login"><img src="static/img/login-link.png" border="0" width="62" height="25" alt=""></a></li>
		<li><a href="/logout"><img src="static/img/logout-link.png" border="0" width="47" height="39" alt=""></a></li>
		<li><a href="/choice_chunks"><img src="static/img/segment-selection-link.png" border="0" width="82" height="38" alt=""></a></li>
		<li><a href="/submit"><img src="static/img/submit-link.png" border="0" width="137" height="26" alt=""></a></li>
		<li><a href="/oracle"><img src="static/img/magic-ball-link.png" border="0" width="114" height="96" alt=""></a></li>
		<li><a href="/credits"><img src="static/img/credits-link.png" border="0" width="85" height="21" alt=""></a></li>
	</ul></div>				
</nav>	