<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html lang="en">
	{% block head %}
	<head>
	  <meta charset="utf-8">
		<title>Infinite Glitch Admin</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled('style-admin.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'sprites.css',
          'flashblock.css',
          '360player.css'
        ) }}' rel='stylesheet' type='text/css' />

	</head>
	{% end %}
<body>
<div id="pagewrap">
    	<div id="header">
		
		{% block user %}
		<div class="user">
				<p>Hello {{ user_name }}!</p>
		</div>
		{% end %}
		<center>
		<a href="{{ admin_url }}" style="display:block;">
		<div id="title-admin">
		
		</div></a>
		</center>
	</div>
	<br style="clear:both">
	<div id="central">
		{% block content %}<p>totally empty page</p>{% end %}
	</div>	
	<br style="clear:both"/>
	<div class="footer">
		
		{% block footer %}	
			<a href="/">Front End View</a> &copy; 2014 Future Fossil 
				
			<script type="text/javascript"
			  src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
			<script type="text/javascript" src='{{ compiled(
			  'spin.min.js',
			  'soundmanager2-nodebug-jsmin.js',
			  'berniecode-animator.js',
			  '360player.js'
			  ) }}'></script>
			<script type="text/javascript" src='{{ compiled('spin.min.js') }}'></script>
			<script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
			<script type="text/javascript" src='{{ compiled('sm-configs.js') }}'></script>
			<script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
			<script type="text/javascript">
				$('.confirmation').on('click', function () {
					return confirm('Are you sure?');
				});
			</script>
				<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>	
		{% end %}
	</div>
</div>

</body>
</html>