{% extends admin_main.html %}

{% block content %}
<p><h1>All Tracks</h1></p>
<form enctype="multipart/form-data" action="/update" method="post">
<table border="1" cellpadding="3">
{% if deleted %}
	<h2> Track number {{ deleted }} deleted. </h2>
{% end %}
{% if updated %}
	<h2> Track info for {{ updated }} updated. </h2>
{% end %}
<tr><td>Sequence</td><td>ID</td><td>Artist</td><td>Filename</td><td>Track Length</td><td>status</td></tr>
{% for track in all_tracks %}
	<tr><td>{{ track.track_details['sequence'] }}</td><td>{{ track.id }}</td><td>{{ track.track_details['artist'] }}</td>
	<td>{{ track.filename }}</td><td>{{ datetime.timedelta(seconds=int(track.track_details['length'])) }}</td>
	<td>{% if track.full_track_details['status'] == 1 %}Active{% else %}Inactive{% end %}</td>
	<td>
	<div class="sm2-360ui">
	<canvas class="sm2-canvas" height="30" width="30"></canvas>
	<span class="sm2-360btn sm2-360btn-default"></span>
	<div class="sm2-timing"></div>
	<div class="sm2-cover"></div>
	</div>
        <div id="sm2-container"></div>
		<div class="ui360 ui360-vis2">
          <a id="endpoint_link" href="/audio/{{ track.filename }}" type="audio/mpeg"></a>
        </div></td>
	<td><a href="{{ delete_url }}/{{ track.id }}" class="confirmation">delete</a></td>
	<td><a href="{{ edit_url }}/{{ track.id }}">edit</a></td>
	</tr>
{% end %}
</table>
</form>
{% end %}


