{% extends main.html %}
{% block head %}
    <title>The Major Glitch - Track Submission Form</title>
	<meta name="description" content="Submit Track to Major Glitch">
{% end %}
{% block content %}
<p><h2>{{ track.filename }}</h2></p>
<form enctype="multipart/form-data" action="/gmin" method="post">
<table border="1" width="600px">
	<tr><td>id</td><td>Artist</td><td>Filename</td><td>Length</td><td>Status</td></tr>
	<tr><td>{{ track.id }}</td><td>
	<input type="text" name="artist" value="{{ track.full_track_details['artist'] }}"></td>
	<td>{{ track.filename }}</td><td>{{ track.full_track_details['length'] }}</td>
	<td>
		<select>
		<option value="0" {% if track.full_track_details['status'] == 0 %}selected{% end %}>Inactive</option>
		<option value="1" {% if track.full_track_details['status'] == 1 %}selected{% end %}>Active</option>
		</select> 
	</td>
	</tr>
	<tr><td colspan="5">Lyrics:<br><textarea rows=10 cols=80 name="lyrics">
	{{ track.full_track_details['lyrics'] }}</textarea></td></tr>
	<tr><td colspan="5">Story:<br>
	<textarea rows=10 cols=80 name="Story">{{ track.full_track_details['story'] }}</textarea></td></tr>
	<input type="hidden" name="filename" value="{{ track.filename }}">
	<tr><td colspan="2">{{ track.full_track_details['submitter'] }}</td>
	<td colspan="2"><a href="mailto:{{ track.full_track_details['submitteremail'] }}">{{ track.full_track_details['submitteremail'] }}</a></td>
	<td> on {{ track.full_track_details['submitted'] }}</td></tr>
	<tr><td colspan="5" align="right"><input type="submit" value="Update"></td></tr>
</table>
</form>
<p>Artwork:<br>
<img src="/artwork/{{ track.id }}.jpg">
</p>
{% end %}
