{% extends secondary.html %}

{% block sidebar %}
		{% end %}
{% block content %}
{% import string %}
{% from tornado.escape import url_escape %}
<p></p>

<img width="165" border="0" height="62" alt="" src="static/img/segment-selection-title.png">

<center><p class="intro-copy"><b>You can select any individual chunk of The Infinite Glitch to listen to.</b><br><br>
Use the drop-down list here to choose the artist.<br><br> 
If they have used their own lyrics, these will be displayed with the player, along with the story behind their chunk and/or some artist info. </p></center>

<fieldset>
        <span class="errormessage"></span>
</fieldset>
<form enctype="multipart/form-data" action="/choice_chunks" method="post">
<table class="secondary">

<tr><td width="200px">Browse Artists: <select name="letters">
						{% for letter in string.uppercase[:26] %}
							<option value="{{ letter }}">{{ letter }}</option>
						{% end %}
					</select></tr>
<tr><td align="right"><input type="submit" value="Browse" /></td></tr>
{% if not artist_tracks == "" %}
	{% for track in artist_tracks %}
	<tr><td><a href="/view_artist/{{ url_escape(track[0]) }}">{{ track[0] }}</a></td></tr>
	{% end %}
{% end %}
</table>
</form>
{% end %}

