<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">	
{% block head %}	
	<head>	  <meta charset="utf-8">		
	<title>Infinite Glitch</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">		
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />

  <link rel="image_src" type="image/png" href="/static/img/icon.png" />

  <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>

  <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />

  <link href='{{ compiled('style-extra.scss') }}' rel='stylesheet' type='text/css' />
  
  <link href='{{ compiled(
  	'bar-ui.css',
	'sprites.css',
	'flashblock.css',
	'360player.css',
	'360player-visualization.css'
  ) }}' rel='stylesheet' type='text/css' />

  <link href='{{ compiled('style-responsive-players.scss') }}' rel='stylesheet' type='text/css' />
  
  <!--Copyright (c) 2014 by jacmaes (http://codepen.io/jacmaes/pen/iqgnh)
  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files 
  (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, 
  merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions:The above copyright notice and this permission notice shall be 
  included in all copies or substantial portions of the Software.THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR 
  OTHER DEALINGS IN THE SOFTWARE.-->
  <!--Copyright (c) 2015 by Brad Frost (http://codepen.io/bradfrost/pen/lpnqC)
  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files 
  (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, 
  merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions:The above copyright notice and this permission notice shall be included 
  in all copies or substantial portions of the Software.THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->	
  </head>	
  {% end %}
  <body>	
	<header id="header" role="banner">
  	{% block user %}		
  		<div class="user">				
  			<p>Hello {{ user_name }}!</p>		
  		</div>		
  	{% end %}		
  		<a href="/" style="display:block;">		
		<div id="title-admin">				
		</div></a>	
  	</header>	<!-- 6th March - just using this page for testing. -->
  	<br style="clear:both"/>  
  	<!--Pattern HTML-->	
  	<div class="secondary">
		 <section id="pattern" class="pattern">  	
			<ul class="grid">
				<li class="wide">		
					<div class="secondary-two">			
						 {% block content %}
						 
							<br>
<center><img src="static/img/credits-title.png" border="0" width="136" height="33" alt=""></center><br><br></p>
<center><p><span id="creditname">Mike Kilmer:</span> Developer/Manager<br>
<a href="http://www.mzoo.org">Media Zoo</a><br><br>
<span id="creditname">Keith Allison:</span> Graphic design and page layout<br />
<img src="static/img/kasticker.png" border="0" width="65" height="64" alt=""><br />
<a href="http://www.thewonder.co.uk" title="http://www.thewonder.co.uk">http://www.thewonder.co.uk</a>
<br><br />
<span id="creditname">Scott Anthony:</span> Audio editing and mastering<br />
<a href=http://viewing-room.com><img src="../static/img/storybook-logo.png" border="0" width="72" height="91" alt=""><br />
Storybook Sound</a><br><br>

<span id="creditname">Henry Lowengard:</span> Producer<br>
Website<br><br>
<span id="creditname">Chris Angelico:</span> Technical Advisor/Developer<br>
Website<br><br>

<hr style="max-width:150px">
Open Source software<br>
<a href="http://the.echonest.com/" target="_blank">The Echo Nest</a><br>
<a href="http://blog.petersobot.com/introducing-forever-fm" target="_blank">Forever.fm</a><br>
<a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank">SoundManager2</a><br>
Jacques Maes<br>
Brad Frost<br>
<hr style="max-width:150px">
</center><br></p>

<p><center><img src="static/img/beakerlogo.png" border="0" width="90" height="43" alt=""><br><font size="-1" color="black"><b>Future Fossil Music</b><br />
PO Box 6248<br />
Hoboken, New Jersey 07030, USA<br />
&copy; 2015</font></center></p>

</div>
</li>

<li>
<div>
							
						 {% end %}		
					</div>		
					<div style="clear:both;"></div>	
				</li>			
				{% block right-nav %}			
				<li>				
					<nav role="navigation">					
						<div style="text-align: center"><ul>
							<li><a href="/create_account"><img src="static/img/sign-up.png" border="0" width="78" height="23" alt=""></a></li>
							<li><a href="/login"><img src="static/img/login-link.png" border="0" width="62" height="25" alt=""></a></li>
							<li><a href="/logout"><img src="static/img/logout-link.png" border="0" width="47" height="39" alt=""></a></li>
							<li><a href="/choice_chunks"><img src="static/img/segment-selection-link.png" border="0" width="82" height="38" alt=""></a></li>
							<li><a href="/submit"><img src="static/img/submit-link.png" border="0" width="137" height="26" alt=""></a></li>
							<li><a href="/oracle"><img src="static/img/magic-ball-link.png" border="0" width="114" height="96" alt=""></a></li>
							<li><a href="/credits"><img src="static/img/credits-link.png" border="0" width="85" height="21" alt=""></a></li>
						</ul></div>				
					</nav>			
				</li>					
			</ul>	
		</section>		
		{% end %}	
	</div>	
	{% block footer %}		
	<div class="container">			
		<footer role="contentinfo">
			<div>				
				<!-- Amended February 28 -->
				<nav id="menu">
					<a href="/">Home</a> 
					<font size="-1">&nbsp;&copy; 2014 Future Fossil</font>
					<a href="mailto:beezwax@aol.com">Contact</a>					
					<a href="http://chrisbutler1.bandcamp.com" target="_newbrowser">Bandcamp</a>	
					<a href="http://www.futurefossilmusic.com/" title="Home for all things Chris Butler">Future Fossil Music</a> 
				</nav>			
			</div>		
		</footer>	
	</div>				
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>		
	<script type="text/javascript" src='{{ compiled('spin.min.js',		  
		'soundmanager2-nodebug-jsmin.js',		  
		'berniecode-animator.js',		  
		'360player.js'		  ) }}'>
	</script>		
	<script type="text/javascript">		
		$('#Oracle-03').click(function () {
		$('#oracle').submit();}
		);
	</script>
	<script type="text/javascript" src='{{ compiled('bar-ui.js') }}'></script>		
	<script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>		
	<script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>		
	<script type="text/javascript" >		
	// Hide all but first tab content		
	$('.accordion__content:not(:first)').hide();		
	$('.accordion__title:first-child').addClass('active');		
	$('.accordion__title').on('click', function () {		
		$('.accordion__content').hide();		
		$(this).next().show().prev().addClass('active').siblings().removeClass('active');		
		});		
	//@ sourceURL=pen.js		
	</script>		
	<script type="text/javascript" >			
	$(".title").click(function() {
		window.location = $(this).find("a").attr("href"); 		  
		return false;		
		});		
	</script>		
	{% end %}	
</div>
	</body>
		</html>

