<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>Submit Track</title>
</head>
<body>
<p><h1>Submit Track</h1></p>
<form enctype="multipart/form-data" action="/upload" method="post">
Your Name: <input type="text" name="SubmitterName" /><br/>
Email: <input type="text" name="Email" /><br/>
Artist Name: <input type="text" name="Artist" /><br/>
Track Title: <input type="text" name="Track" /><br/>
Story behind the track: <input type="textarea" rows=10 cols=80 name="Story" /></textarea><br/>
Lyrics: <input type="textarea" rows=10 cols=80  name="Lyrics" /></textarea><br/>
MP3 File: <input type="file" name="filearg" />
<br />
<br />
<input type="submit" value="upload" />
</form>
