<!DOCTYPE html>
<html>
	<head>
		<title>Infinite Glitch</title>
		
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'sprites.css',
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' />

        <script type="text/javascript"
          src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
        {% if open %}
        <script type="text/javascript" src='{{ compiled(
          'spin.min.js',
          'soundmanager2-nodebug-jsmin.js',
          'berniecode-animator.js',
          '360player.js'
          ) }}'></script>
        <script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
        <script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
        {% end %}
       
	</head>
  <body>
    <div id="menu">
	<input id="trackDeets" type="button" value="clickme" onclick="getTrackDetails();" />
	  
      <div id="logo"></div>
     
      <h1>
        Infinite Glitch
      </h1>
      <h2>
        The Longest Pop Song in the Universe
      </h2>
      <div id="player">
        <div id="sm2-container"></div>
        <div class="ui360 ui360-vis">
          <a id="endpoint_link" href="{{ endpoint }}" type="audio/mpeg"></a>
        </div>
      </div>
      <div id="footer">
        by Chris Butler
        <div class="affiliates">
          <div class="powered">powered by:</div>
          
          <a class="echonest"
             target="_blank"
             href="http://the.echonest.com"
             title="Audio analysis by the Echo Nest"><span class="echonest"></span></a>
        </div>
      </div>
    </div>
    <div id="content">
	  {% if open %} 
	  <div class="track_container">
        <div class="tracks" id="tracks"></div>
      </div>
      <div class="tracks" id="done"></div>
      {% else %}
      <div id="message" style="width: 80%; margin: 15% 0 0 15%; text-align: center; font-size: 2em;">
	  <h1>We're sorry...</h1>
      <p>
            Infinite Glitch is currently <strong>over capacity</strong>.
            Please check back soon!
      </p>
      </div>
    {% end %}
    </div>
	</body>
</html>

