{% extends secondary.html %}

{% block sidebar %}
		{% end %}
{% block content %}
<h1>
<img width="99" border="0" height="42" alt="" src="static/img/log-in-title.png">
</h1>
<fieldset>
        <span class="errormessage"></span>
</fieldset>
<form enctype="multipart/form-data" action="/login" method="post">
<table class="secondary">
{% if notice %}
	<h4> {{ notice }} </h4>
{% end %}
<tr><td width="200px">Email: </td><td>{{ form.email }}</td></tr>
<tr><td>Password: </td><td>{{ form.password }} </td></tr>
<tr><td colspan="2" align="right">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="Login" /></td></tr>
<tr><td colspan="2" align="right">or <a href="/create_account">sign-up.</a></td></tr>
<tr><td colspan="2" align="right"><a href="/reset_password">forgot password?</a></td></tr>
</table>
</form>
{% end %}

