<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html lang="en">
	{% block head %}
	<head>
	  <meta charset="utf-8">
		<title>Infinite Glitch</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'sprites.css',
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' />

	</head>
	{% end %}
<body>

	<div id="header">
	<h1><a href="/">Infinite Glitch</a></h1>
	</div>
		{% block user %}
		<div style="float:right; width="200px">
				<p>Hello {{ user_name }}!</p>
		</div>		
		{% end %}
	</div>
	<br style="clear:both"/>
  <!--Pattern HTML-->
    <section id="pattern" class="pattern">
  	<ul class="grid">
		<li>
			<div>
			{% block sidebar %}
		
			{% end %}
			</div>
		</li>
	
	
	<li class="wide">
		<div>
			{% block content %}<p>totally empty page</p>{% end %}
		</div>
	</li>	
	
	{% block right-nav %}
			<li>
				<div>
					<ul>
					<li><a href="/lyrics">The Lyrics</a></li>
					<li><a href="/submit">Submit</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/logout">Logout</a></li>
					<li><a href="/create_account">Sign-Up</a></li>
					</ul>
				</div>
			</li>
			
		</ul>
	</section>	
	{% end %}
	{% block footer %}	

	<div class="container">	
		<footer role="contentinfo">   
			<div>
				<nav id="menu">
					<a href="/">Home</a> &copy; 2014 Future Fossil 
					<a href="mailto:beezwax@aol.com">Contact</a> |
					<a href="http://chrisbutler1.bandcamp.com" target="_newbrowser">Bandcamp</a>				</nav>
			</div>
		</footer>
	</div>		

		<script type="text/javascript"
		  src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
		<script type="text/javascript" src='{{ compiled(
		  'spin.min.js',
		  'soundmanager2-nodebug-jsmin.js',
		  'berniecode-animator.js',
		  '360player.js'
		  ) }}'></script>
		<script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('sm-configs.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
		{% end %}
	</div>

</body>
</html>