<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html lang="en">
<head>
  <meta charset="utf-8">

	{% block head %}
		<title>The Major Glitch</title>
		<meta name="author" content="mZoo.org">
	{% end %}
 
	<script type="text/javascript"
			src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
</head>

<body>
<header>
	{% block header %}<a href="/">Home</a>{% end %}
</header>
<content>
	{% block content %}{% end %}
</content>
<footer>
	{% block footer %}<a href="/">Home</a> &copy; 2014 Future Fossil <a href="mailto:beezwax@aol.com">Contact</a>{% end %}
</footer>
</body>
</html>