{% extends secondary.html %}


{% block content %}
<p></p><h2><img src="static/img/glitch-ball-title.png" border="0" width="204" height="159" alt=""></h2><p></p>

<div style="text-align: center"><font size="-1"><b><b>For entertainment purposes only.</b></b>  <br>This website and its creators are not responsible for any damages incurred by actions taken based on playing this game.</font></div><br>
<!-- start ball -->
<form enctype="multipart/form-data" action="/oracle" method="post" id="oracle">
<center>
			<P>Enter your question and then press the Glitch Ball</p>
		{% if not question == "" %}
			<p>{{ question }}</p>
		{% end %}

		<p>{{ form.question(style="width: 300px;max-width:90%;") }}</p>

		{% if form.question.errors %}
		<ul>
        	{% for error in form.question.errors %}<li class="errors">{{ error }}</li>{% end %}</ul>
  		{% end %}
  		
  		<p>{{ answer }}</p>
  </form>

<div id="Table_01">
	<div id="Oracle-01">
		<img src="static/img/Oracle_01.png" width="221" height="72" alt="">
	</div>
	<div id="Oracle-02">
		<img src="static/img/Oracle_02.png" width="57" height="104" alt="">
	</div>
	<div id="Oracle-03">
		
	</div>
	<div id="Oracle-04">
		<img src="static/img/Oracle_04.png" width="57" height="104" alt="">
	</div>
	<div id="Oracle-05">
		<img src="static/img/Oracle_05.png" width="221" height="75" alt="">
	</div>
</div>
</center>
<!-- end ball -->

<br><br>

{% end %}
