{% extends secondary.html %}

{% from tornado.escape import url_escape %}

{% block content %}
<p></p><h2><img src="static/img/glitch-ball-title.png" border="0" width="204" height="159" alt=""></h2><p></p>

<div style="text-align: center"><font size="-1"><b><b>For entertainment purposes only.</b></b>  <br>This website and its creators are not responsible for any damages incurred by actions taken based on playing this game.</font></div><br>
<!-- start ball -->
<form enctype="multipart/form-data" action="/oracle" method="post" id="oracle">
<center>
			<P>Enter your question and then press the Glitch Ball</p>
		{% if not answer == "" %}
			<p>{{ question }}</p>
		{% end %}
		{% if not answer == "" %}
			<div style="max-width:550px">
			<p>"{{ answer.couplet['couplet'][0] }}<br/>
				{{ answer.couplet['couplet'][1] }}."</p>
			<p style="float:right;margin-right:2em">-<a href="/view_artist/{{ url_escape(answer.couplet['artist']) }}">{{ answer.couplet['artist'] }}</a></p>
			</div>
		{% end %}
		<br style="clear:both"/>
		<div id="oracle_question">
			{{ form.question(class_="oracle_question_field") }}
		</div>
		

		{% if form.question.errors %}
		<ul>
        	{% for error in form.question.errors %}<li class="errors">{{ error }}</li>{% end %}</ul>
  		{% end %}
  		
  		<p>{{ answer }}</p>
  </form>

<div id="Table_01">
	<div id="Oracle-01">
		<img src="static/img/Oracle_01.png" width="221" height="72" alt="">
	</div>
	<div id="Oracle-02">
		<img src="static/img/Oracle_02.png" width="57" height="104" alt="">
	</div>
	<div id="Oracle-03">
		
	</div>
	<div id="Oracle-04">
		<img src="static/img/Oracle_04.png" width="57" height="104" alt="">
	</div>
	<div id="Oracle-05">
		<img src="static/img/Oracle_05.png" width="221" height="75" alt="">
	</div>
</div>
</center>
<!-- end ball -->

<br><br>

{% end %}
