{% extends secondary.html %}

{% block content %}
<p></p>

<!--<img width="125" border="0" height="35" alt="" src="static/img/sign-up-title.png">-->
<h2>Reset password</h2>

<p></p>
<form enctype="multipart/form-data" action="/reset_password" method="post">
<table class="secondary">
{% if notice %}
	<ul class="errors"> <li class="error_notice"><b>{{ notice }}</b></li> </ul>
{% end %}
<tr><td>Your Email: </td><td>{{ form.email }}</td></tr>
	{% if form.email.errors %}
		<tr><td colspan=2> 
        <ul class="errors">{% for error in form.email.errors %}<li class="error_notice">{{ error }}</li>{% end %}</ul>
		</td></tr>
    {% end %}

<tr><td colspan="2">
{{ form.accept_checkbox }} Send password reset email, please.

	{% if form.accept_checkbox.errors %}
        <ul class="errors">{% for error in form.accept_checkbox.errors %}<li class="error_notice">{{ error }}</li>{% end %}</ul>
    {% end %}
	
	</td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Send Reset Link" /></td></tr>
</table>
</form>

{% end %}

