<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">	
{% block head %}	
	<head>	  <meta charset="utf-8">		
	<title>{{ page_title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
	<meta property="og:title" content="{{ page_title }}" />
	<meta property="og:type" content="song" />
	<meta property="og:url" content="http://infiniteglitch.net/" />
	<meta property="og:image" content="http://infiniteglitch.net/static/img/puzzle-stamp.png" />
	<meta property="og:description" content="{{ og_description }}" />
	<meta property="fb:admins" content="100000460115448" />
	
	<meta name="description" content="{{ meta_description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">		
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />

  <link rel="image_src" type="image/png" href="/static/img/icon.png" />

  <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>

  <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />

  <link href='{{ compiled('style-extra.scss') }}' rel='stylesheet' type='text/css' />
  
  <link href='{{ compiled(
  	'bar-ui.css',
	'sprites.css',
	'flashblock.css',
	'360player.css',
	'360player-visualization.css'
  ) }}' rel='stylesheet' type='text/css' />

  <link href='{{ compiled('style-responsive-players.scss') }}' rel='stylesheet' type='text/css' />
  </head>	
  {% end %}
  <body>	
	<header id="header" role="banner">
  	{% block user %}		
  		<div class="user">				
  			<p>Hello {{ user_name }}!</p>		
  		</div>		
  	{% end %}		
  		<a href="/" style="display:block;">		
		<div id="title-admin">				
		</div></a>	
  	</header>	
  	<br style="clear:both"/>  
  	<!--Pattern HTML-->	
  	<div class="secondary">
		 <section id="pattern" class="pattern">  	
			<ul class="grid">
				<li class="wide">		
					<div class="secondary-two">			
						 {% block content %}
							<p>totally empty page</p>
						 {% end %}		
					</div>		
					<div style="clear:both;"></div>	
				</li>			
				{% block right-nav %}			
				<li>				
					<nav role="navigation">					
						<div style="text-align: center"><ul>
							<li><a href="/create_account"><img src="static/img/sign-up.png" border="0" width="78" height="23" alt=""></a></li>
							<li><a href="/login"><img src="static/img/login-link.png" border="0" width="62" height="25" alt=""></a></li>
							<li><a href="/logout"><img src="static/img/logout-link.png" border="0" width="47" height="39" alt=""></a></li>
							<li><a href="/segment_selection"><img src="static/img/segment-selection-link.png" border="0" width="82" height="38" alt=""></a></li>
							<li><a href="/submit"><img src="static/img/submit-link.png" border="0" width="137" height="26" alt=""></a></li>
							<li><a href="/oracle"><img src="static/img/magic-ball-link.png" border="0" width="114" height="96" alt=""></a></li>
							<li><a href="/credits"><img src="static/img/credits-link.png" border="0" width="85" height="21" alt=""></a></li>
						</ul></div>				
					</nav>			
				</li>					
			</ul>	
		</section>		
		{% end %}	
	</div>	
		{% block footer %}		
	<div class="container">			
		<footer role="contentinfo">
			<div>				
				<!-- Amended February 28 -->
				<nav id="menu">
					<ul class="footer_menu">
					<li class="footerlist"><a href="/">Home</a> </li>
					<li class="footerlist"><font size="-1">&nbsp;&copy; 2014 Future Fossil</font></li>
					<li class="footerlist"><a href="mailto:beezwax@aol.com">Contact</a>	</li>
					<li class="footerlist"><a href="http://chrisbutler1.bandcamp.com" target="_newbrowser">Bandcamp</a>	</li>
					<li class="footerlist"><a href="http://www.futurefossilmusic.com/" title="Home for all things Chris Butler">Future Fossil Music</a></li>
					
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1571033473154183&version=v2.0";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
							</script>
							<script>
							window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
							</script>
								<li class="twitter-like">
									<a class="twitter-share-button"
								  href="https://twitter.com/share"
								  data-url="http://www.infiniteglitch.net">
								Tweet
								</a></li>   

						<li class="fb-like">
						<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
						</li>
					</ul>
				</nav>			
			</div>		
		</footer>	
	</div>				
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>		
	<script type="text/javascript" src='{{ compiled('spin.min.js',		  
		'soundmanager2-nodebug-jsmin.js',		  
		'berniecode-animator.js',		  
		'360player.js'		  ) }}'>
	</script>		
	<script type="text/javascript">		
		$('#Oracle-03').click(function () {
		$('#oracle').submit();}
		);
	</script>	
	<script type="text/javascript" >			
	$(".title").click(function() {
		window.location = $(this).find("a").attr("href"); 		  
		return false;		
		});		
	</script>		
		<script type="text/javascript" src='{{ compiled('bar-ui.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
	{% end %}		
</div>
	</body>
		</html>

