{% extends secondary.html %}

{% block sidebar %}
		{% end %}
{% block content %}
{% import string %}
<p></p>
<h2>
<img width="165" border="0" height="62" alt="" src="static/img/segment-selection-title.png">
</h2>
<p></p>

<fieldset>
        <span class="errormessage"></span>
</fieldset>
<form enctype="multipart/form-data" action="/segment_selection" method="post">
<table class="secondary">

<tr><td width="200px">Browse Artists: <select name="letters">
						{% for letter in string.uppercase[:26] %}
							<option value="{{ letter }}">{{ letter }}</option>
						{% end %}
					</select></tr>
<tr><td align="right"><input type="submit" value="Browse" /></td></tr>
{% for track in artist_tracks %}
<tr><td>{{ track.track_details['artist'] }}</td></tr>
{% end %}
</table>
</form>
{% end %}

