{% extends secondary.html %}

{% block sidebar %}
		{% end %}
{% block content %}
<p></p>
<h2>
<img width="165" border="0" height="62" alt="" src="static/img/segment-selection-title.png">
</h2>
<p></p>

<fieldset>
        <span class="errormessage"></span>
</fieldset>
<form enctype="multipart/form-data" action="/login" method="post">
<table class="secondary">

<tr><td width="200px">Email: </td><td></td></tr>
<tr><td>Password: </td><td></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Login" /></td></tr>
</table>
</form>
{% end %}

