<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>360&deg; MP3 player UI demo (SoundManager 2): Javascript + Canvas Visualization</title>
<meta name="description" content="Javascript + Canvas + SoundManager 2: 360-degree circular control / jog wheel example for playing MP3 links, with EQ and spectrum visualization options" />
<!-- demo, make the fonts nicer etc. -->
<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <link href='{{ compiled('demo.scss') }}' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' />
		<link href='{{ compiled('tabs.scss') }}' rel='stylesheet' type='text/css' />
        <link href='{{ compiled(
          'sprites.css',
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' />

        <script type="text/javascript"
          src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
        {% if open %}
        <script type="text/javascript" src='{{ compiled(
          'spin.min.js',
          'soundmanager2-nodebug-jsmin.js',
          'berniecode-animator.js',
          '360player.js'
          ) }}'></script>
        <script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
        <script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
        {% end %}

<script type="text/javascript">

threeSixtyPlayer.config.scaleFont = (navigator.userAgent.match(/msie/i)?false:true);
threeSixtyPlayer.config.showHMSTime = true;

// enable some spectrum stuffs

threeSixtyPlayer.config.useWaveformData = true;
threeSixtyPlayer.config.useEQData = true;

// enable this in SM2 as well, as needed

if (threeSixtyPlayer.config.useWaveformData) {
  soundManager.flash9Options.useWaveformData = true;
}
if (threeSixtyPlayer.config.useEQData) {
  soundManager.flash9Options.useEQData = true;
}
if (threeSixtyPlayer.config.usePeakData) {
  soundManager.flash9Options.usePeakData = true;
}

if (threeSixtyPlayer.config.useWaveformData || threeSixtyPlayer.flash9Options.useEQData || threeSixtyPlayer.flash9Options.usePeakData) {
  // even if HTML5 supports MP3, prefer flash so the visualization features can be used.
  soundManager.preferFlash = true;
}

// favicon is expensive CPU-wise, but can be used.
if (window.location.href.match(/hifi/i)) {
  threeSixtyPlayer.config.useFavIcon = true;
}

if (window.location.href.match(/html5/i)) {
  // for testing IE 9, etc.
  soundManager.useHTML5Audio = true;
}

</script>

<style type="text/css">

body {
 background-image: none;
}

#left h2 {
 padding-top:0px;
 margin-bottom:0.25em;
 color:#666;
}

pre.block {
 margin-top:0.5em;
}

/* special case */

#left {
 width:auto;
 max-width:100%;
}

.ui360 span {
 vertical-align: top;
}

</style>

</head>

<body>
	


		<!-- here are the MP3 links, which are decorated with the 360 canvas element/UI etc. -->
		
		<div id="sm2-container">
			<!-- sm2 flash goes here -->
		</div>

	 	<h2 style="margin-top:1em">Inline list</h2>

		<div class="sm2-inline-list"> <!-- remove this class to have one item per line -->

			<div class="ui360 ui360-vis"><a href="http://freshly-ground.com/data/audio/sm2/The%20Fugitives%20-%20Graffiti%20Sex.mp3">The Fugitives - Graffiti Sex</a></div>

	   	</div>
	

	<div style="clear:both"></div>
	
	<script type="text/javascript">
	  if (window.location.toString().match(/#customize/i)) {
		document.getElementById('config-link').style.display = 'none';
	    document.getElementById('config-ui').style.display = 'block';	
	  }
	</script>

</div>

</body>
</html>
