{% extends secondary.html %}

{% block sidebar %}
		{% end %}
{% block content %}

<div id="popular_words">
		{% for popular_word in popular_words %}
		  <a href="#" rel="{{ popular_word[1] }}">{{ popular_word[0] }}</a>
		{% end %}
	</div>
 <!-- Start Infinite Chunk Player -->

        <div id="Infinite_Chunk_Player">
            <!-- start player 3 -->

            <div class="sm2-bar-ui compact">
              <div class="bd sm2-main-controls">
                <div class="sm2-inline-element sm2-button-element">
                  <div class="sm2-button-bd">
                    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-inline-status">
                  <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                      <!-- playlist <ul> + <li> markup will be injected here -->
                      <!-- if you want default / non-JS content, you can put that here. --><noscript>
                      <p>JavaScript is required.</p></noscript>
                    </div>
                  </div>

                  <div class="sm2-progress">
                    <div class="sm2-row">
                      <div class="sm2-inline-time">
                        0:00
                      </div>

                      <div class="sm2-progress-bd">
                        <div class="sm2-progress-track">
                          <div class="sm2-progress-bar"></div>

                          <div class="sm2-progress-ball">
                            <div class="icon-overlay"></div>
                          </div>
                        </div>
                      </div>

                      <div class="sm2-inline-duration">
                        0:00
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sm2-inline-element sm2-button-element sm2-volume">
                  <div class="sm2-button-bd">
                    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                  </div>
                </div>
              </div>

              <div class="bd sm2-playlist-drawer sm2-element">
                <div class="sm2-inline-texture">
                  <div class="sm2-box-shadow"></div>
                </div><!-- playlist content is mirrored here -->

                <div class="sm2-playlist-wrapper">
                  <ul class="sm2-playlist-bd">
                    <li><a href="static/single-audio-files/MajorGlitch.mp3"></a></li>
                  </ul>
                </div>
              </div>
            </div><!-- end player 3 -->
          </div>

          
        </div><!-- End Infinite Chunk Player -->

<br style="clear:both"/>

	Some More Text
	
		{% end %}

			{% block footer %}		
	<div class="container">			
		<footer role="contentinfo">
			<div>				
				<!-- Amended February 28 -->
				<nav id="menu">
					<a href="/">Home</a> 
					<font size="-1">&nbsp;&copy; 2014 Future Fossil</font>
					<a href="mailto:beezwax@aol.com">Contact</a>					
					<a href="http://chrisbutler1.bandcamp.com" target="_newbrowser">Bandcamp</a>	
					<a href="http://www.futurefossilmusic.com/" title="Home for all things Chris Butler">Future Fossil Music</a> 
				</nav>			
			</div>		
		</footer>	
	</div>				
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>		
	<script type="text/javascript" src='{{ compiled('spin.min.js',		  
		'soundmanager2-nodebug-jsmin.js',		  
		'berniecode-animator.js',		  
		'360player.js'		  ) }}'>
	</script>		
	<script type="text/javascript">		
		$('#Oracle-03').click(function () {
		$('#oracle').submit();}
		);
	</script>	
	<script type="text/javascript" >			
	$(".title").click(function() {
		window.location = $(this).find("a").attr("href"); 		  
		return false;		
		});		
	</script>		
		<script type="text/javascript" src='{{ compiled('jquery.tagcloud.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('bar-ui.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('socket.io.js') }}'></script>
		<script type="text/javascript" src='{{ compiled('raf.coffee', 'front.coffee') }}'></script>
		<script type="text/javascript">
			$.fn.tagcloud.defaults = {
			  size: {start: 14, end: 28, unit: 'pt'},
			  color: {start: '#cde', end: '#f52'}
			};

			$(function () {
			  $('#popular_words a').tagcloud();
			});
		</script>
	{% end %}	

	</div>

</body>
</html>

