{% extends admin_main.html %}

{% block content %}
<p><h1>All Tracks</h1></p>
<form enctype="multipart/form-data" action="/submitters" method="post">
<center>
<table border="1" cellpadding="3">

{% if notice %}
	<h2> {{ notice }} </h2>
{% end %}
<tr><td colspan="10" align="right"><input type="submit" value="Submit"></td></tr>
<tr><td>Submitter Name</td><td>Submitter Email</td><td>Artist</td><td>Lyrics</td><td>Story</td></tr>
{% for submitter in submitters %}
	<input type="hidden" name="user_id" size="15" value="{{ submitter.userid }}">
	<input type="hidden" name="track_id" size="15" value="{{ submitter.submitted['track_id'] }}">
	<tr><td><input type="text" id="username" name="username" size="15" value="{{ submitter.username }}"></td>
	<td><input type="text" id="email" name="email" size="15" value="{{ submitter.email }}"></td>
	<td><a href="{{ edit_url }}/{{ submitter.submitted['track_id'] }}">{{ submitter.submitted['artist'] }}</a></td>
	
	<td>{% if not submitter.submitted['lyrics'] %}
			<span class="errors">Empty.</span>
		{% else %}
			Yes.
		{% end %}
	</td>
	
	<td>{% if not submitter.submitted['story'] %}
			 <span class="errors">Empty.</span>
		{% else %}
			Yes.
		{% end %}
	</td>
	</tr>

{% end %}
<tr><td colspan="10" align="right"><input type="submit" value="Submit"></td></tr>

</table>
</form>
</center>
</script>
{% end %}


