{% extends secondary.html %}

{% block content %}
<p></p>
<img width="212" border="0" height="38" alt="" src="static/img/submit-title.png">
<p></p>
<form enctype="multipart/form-data" action="/submit" method="post">

<table class="secondary">
<tr><td>Artist Name: </td><td>{{ form.artist }} (used if missing from mp3 data)</td></tr>
<tr><td>Track Title: </td><td>{{ form.track_title }} (used if missing from mp3 data)</td></tr>
<tr><td colspan="2">MP3 File: {{ form.mp3_file }}</td></tr>
	{% if form.artist.errors %}
		<tr><td colspan=2> 
        <ul class="errors">{% for error in form.artist.errors %}<li class="error_notice">{{ error }}</li>{% end %}</ul>
		</td></tr>
    {% end %}

<tr><td colspan="2">Story behind the track:<br/> {{ form.story(rows=10,cols=60) }}</td></tr>
<tr><td colspan="2">Lyrics:  (in couplet form if possible - two lines, space and so on)<br/>{{ form.lyrics(rows=10,cols=60,placeholder="Sometimes you can fix...                               Elaborate on bla bla bla...") }}</textarea></td></tr>
<tr><td colspan="2">Comments: <br/>{{ form.comments(rows=10,cols=60)}}</td></tr>
<input name="track_source" type="hidden" value="user_form" />

<tr><td colspan="2" align="right"><input type="submit" value="upload" /></td></tr>
</table>
</form>
{% end %}

