{% extends admin_main.html %}

{% block content %}
<p><h2>{{ track.filename }}</h2>
</p>
<form enctype="multipart/form-data" action="{{ admin_url }}" method="post">
<table border="1" width="800px" cellpadding="5">
	<tr><td>id</td><td>Artist</td><td>Filename</td><td>Length</td><td>Status</td><td>Play</td></tr>
	<tr><td>{{ track.id }}</td><td>
	<input type="text" name="artist" value="{{ track.track_details['artist'] }}"></td>
	<td>{{ track.filename }}</td><td>{{ track.track_details['length'] }}</td>
	<td>
		<select name=status>
		<option value="0" {% if track.track_details['status'] == 0 %}selected{% end %}>Inactive</option>
		<option value="1" {% if track.track_details['status'] == 1 %}selected{% end %}>Active</option>
		</select> 
	</td>
	<td>
	<div class="ui360" style="margin-top:-0.55em">
	<a id="endpoint_link" href="/audio/{{ track.filename }}" type="audio/mpeg"></a></div>
          
	</td>
	</tr>
	<tr><td colspan="6">Lyrics:<br><textarea rows=10 cols=80 name="lyrics">
	{{ track.track_details['lyrics'] }}</textarea></td></tr>
	<tr><td colspan="6">Story:<br>
	<textarea rows=10 cols=80 name="story">{{ track.track_details['story'] }}</textarea></td></tr>
	<tr><td colspan="6">Comments:<br>
	<textarea rows=10 cols=80 name="comments">{{ track.track_details['comments'] }}</textarea></td></tr>
	<input type="hidden" name="id" value="{{ track.id }}">
	<tr><td colspan="3">Submitted: {{ track.full_track_details['submitter'] }}</td>
	<td colspan="2"><a href="mailto:{{ track.full_track_details['submitteremail'] }}">{{ track.full_track_details['submitteremail'] }}</a></td>
	<td> on {{ track.full_track_details['submitted'] }}</td></tr>tra
	<tr><td colspan="6">Comma Separated Keywords:<br/>
	<textarea rows=10 cols=80 name="keywords">{{ track.full_track_details['keywords'] }}</textarea></td></tr>
	<tr><td colspan="6" align="right"><input type="submit" value="Update"></td></tr>
</table>
</form>
<p>Artwork:<br>
<img src="/artwork/{{ track.id }}.jpg" class="track_art">
</p>
{% end %}
