{% extends "secondary.html" %}

{% block content %}
<br>
<center>
<img src="static/img/404-PAGE.png" border="0" width="340" height="361" alt=""></center>
<div class="alert alert-warning">
<p>Oh dear. It appears you have wandered onto a page that does not <font color="#b7b7b7">exist</font>. How do you do that?</p>
<p>Probably a <font color="#7578A1">glitch</font>.</p>
<p>At any rate, click on one of those links to the right, or on the cool title at the top  if you'd like to have a look around.</p>
</div>
{% endblock %}

