{% extends "secondary.html" %}

{% block content %}
<div id="chain"><img src="static/assets/img/chain.png" border="0" width="298" height="239" alt="" align="left"></div>
<div>
<br/>  
<center><br><br>
<img src="static/img/500-PAGE.png" border="0" width="255" height="64" alt=""></center>

<div class="alert alert-error">
<br/><br/><br/><br/>  
	<p>Oh gosh. Something seems to have gone terribly <font color="#9396C0">wrong</font>.</p>
	<p align =right>&nbsp;Something <font color="#7578A1">broke</font> when you tried to do what you just did.</p>
	<p>Please give us a minute to pull our pants up and try again.</p>
	<p> If you continue to see this page, we'd love it if you let us know.</p>
</div>
{% endblock %}

