{% extends "admin_main.html" %}

{% block content %}
<h1>All Tracks</h1>
<p>Sequence is not necessary. FIRST CHUNK sequence needs to be any negative number (the only one). LAST CHUNK sequence must be highest number in set.</p>
<form enctype="multipart/form-data" action="/sequence" method="post">
<table border="1" cellpadding="3">
{% if deleted %}
	<h2> Track number {{ deleted }} deleted. </h2>
{% endif %}
{% if updated %}
	<h2> Track info for {{ updated }} updated. </h2>
{% endif %}

{% if notice %}
	<h2> {{ notice }} </h2>
{% endif %}
<tr><td colspan="10" align="right"><input type="submit" value="Submit"></td></tr>
<tr>
	<td>Sequence</td>
	<td>ID</td>
	<td>Artist</td>
	<td>Track Length</td>
	
	<td>Status</td>
	<td>Player</td>
	<td>Lyrics</td>
	<td>Story</td>
	<td>Delete</td>
</tr>
{% for track in all_tracks %}
<tr>
	<td><a name="track{{ track.id }}"><input type="text" name="{{ track.id }}" size="5" value="{{ track.track_details['sequence'] }}"/></a></td>
	<td>{{ track.id }}</td>
	<td style="width:300px;word-wrap: break-word;"><a href="/edit/{{ track.id }}" title="file: {{ track.filename }}">{{ track.track_details['artist_exact'] }}</a></td>
	<td>{{ datetime.timedelta(seconds=int(track.track_details['length'])) }}</td>
	
	<td>{% if track.track_details['status'] == 1 %}Active{% else %}Inactive{% endif %}</td>
	<td>
	
	<!-- Start player -->
<div class="sm2-bar-ui compact">

 <div class="bd sm2-main-controls">

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target">
     <!-- playlist <ul> + <li> markup will be injected here -->
     <!-- if you want default / non-JS content, you can put that here. -->
     <noscript><p>JavaScript is required.</p></noscript>
    </div>
   </div>

   <div class="sm2-progress">
    <div class="sm2-row">
    <div class="sm2-inline-time">0:00</div>
     <div class="sm2-progress-bd">
      <div class="sm2-progress-track">
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
      </div>
     </div>
     <div class="sm2-inline-duration">0:00</div>
    </div>
   </div>

  </div>

  <div class="sm2-inline-element sm2-button-element sm2-volume">
   <div class="sm2-button-bd">
    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
   </div>
  </div>

 </div>

 <div class="bd sm2-playlist-drawer sm2-element">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
  </div>

  <!-- playlist content is mirrored here -->

  <div class="sm2-playlist-wrapper">
    <ul class="sm2-playlist-bd">
     <li><a id="endpoint_link" href="../audio/{{ track.filename }}" type="audio/mpeg"></a></li>
    </ul>
  </div>

 </div>

</div>
<!-- End player -->
	
        </td>
        <td>{% if track.track_details['lyrics'] == '' %}<span class="errors">X</span>{% else %}Yes{% endif %}</td>
        <td>{% if track.track_details['story'] == '' %}<span class="errors">X</span>{% else %}Yes{% endif %}</td>
	<td><a href="/delete/{{ track.id }}" class="confirmation">delete</a></td>
</tr>
<tr>
	<td colspan="3">Crossfade: {{ track.track_details['xfade'] }}</td>
	<td colspan="1">iTrim: {{ track.track_details['itrim'] }}</td>
	<td colspan="5">oTrim: {{ track.track_details['otrim'] }} | <a href="/manage/{{ track.id }}">manage transition</a></td>
</tr>
{% endfor %}
<tr><td colspan="10" align="right"><input type="submit" value="Submit"/></td></tr>
<tr><td colspan="10" align="right"><a href="rebuild_glitch">Generate Major Glitch Track</a></td></tr>

</table>
</form>
{% endblock %}


