{% extends "main.html" %}
{% block title %}Admin{% endblock %}
{% block stylesheets %}
<!-- Different styles for admin, for visibility -->
<link href='/static/style-admin.css' rel='stylesheet' type='text/css' >
<link href='/static/bar-ui-admin.css' rel='stylesheet' type='text/css' >
<link href='/static/demo.css' rel='stylesheet' type='text/css' >
{% endblock %}
{% block scripts %}
<script type="text/javascript" src='/static/demo.js'></script>
<script type="text/javascript" src='/static/main.js'></script>
{% endblock %}
{% block sidebar %}<!-- Suppress the player -->{% endblock %}
