{% extends "secondary.html" %}

{% block sidebar %}
		{% endblock %}
{% block content %}
<h1><img src="static/img/credits-title.png" border="0" width="136" height="33" alt=""></h1>

<center><p><span id="creditname">Chris Butler:</span> Joke-Taker-Too-Far-Er<br />
<img src="static/img/ffmhead.png" border="0" width="73" height="75" alt=""><br />
<a href="http://www.futurefossilmusic.com/" target="_blank">Future Fossil Music</a>
<br><br />
<span id="creditname">Scott Anthony:</span> Audio editing and mastering<br />
<img src="static/img/storybook-logo.png" border="0" width="72" height="91" alt=""><br />
<a href="http://www.storybooksound.com/" target="_blank">Storybook Sound</a><br><br>
<span id="creditname">Mike Kilmer:</span> Developer/Manager<br>
<img src="static/img/mike-logo.png" border="0" width="70" height="86" alt=""><br />
<a href="http://www.mzoo.org">Media Zoo</a><br><br>
<span id="creditname">Keith Allison:</span> Graphic design and page layout<br />
<img src="static/img/kasticker.png" border="0" width="65" height="64" alt=""><br />
<a href="http://www.thewonder.co.uk/index.htm" target="_blank">The Wonder</a>
<br><br />
<span id="creditname">Henry Lowengard:</span> Producer<br>
<img src="static/img/henry-logo.png" border="0" width="70" height="73" alt=""><br />
<a href="http://www.jhhl.net" target="_blank">j h h l . n e t</a><br><br>
<span id="creditname">Chris Angelico:</span> Technical Advisor/Developer<br>
<a href="http://rosuav.blogspot.com/" target="_blank">Rosuav's Ramblings</a><br><br>
<span id="creditname">Nick Berry:</span> Unindicted Co-Conspirator<br><br>
<hr style="max-width:150px">
Open Source software<br>
<a href="http://the.echonest.com/" target="_blank">The Echo Nest</a><br>
<a href="http://blog.petersobot.com/introducing-forever-fm" target="_blank">Forever.fm</a><br>
<a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank">SoundManager2</a><br>
<a href="https://github.com/jacmaes" target="_blank">Jacques Maes</a><br>
<a href="http://bradfrost.com" target="_blank">Brad Frost</a><br>
<a href="https://github.com/welll/record-encode-audio-from-browser" target="_blank">Wellington Soares</a><br>
<hr style="max-width:150px">
</center><br></p>

<p><center><img src="static/img/beakerlogo.png" border="0" width="90" height="43" alt=""><br><font size="-1" color="black"><b>Future Fossil Music</b><br />
PO Box 6248<br />
Hoboken, New Jersey 07030, USA<br />
&copy; 2015</font></center></p>


{% endblock %}

