{% extends "secondary.html" %}

{% block content %}
<h1>
<img width="99" border="0" height="42" alt="" src="/static/img/log-in-title.png">
</h1>
<form method=post name=login>
<table class="secondary">
{% if notice %}
	<h4> {{ notice }} </h4>
{% endif %}
<tr><td width="200px"><label for=email>Email:</label></td><td><input name=email></td></tr>
<tr><td><label for=password>Password:</label></td><td><input type=password name=password></td></tr>
<tr><td colspan="2" align="right">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="Login" /></td></tr>
<tr><td colspan="2" align="right">or <a href="/create_account">sign-up.</a></td></tr>
<tr><td colspan="2" align="right"><a href="/reset_password">forgot password?</a></td></tr>
</table>
</form>
{% endblock %}

{% block load_scripts %}
<script type="text/javascript">		
	var validator = new FormValidator('login', [{
		name: 'email',
		rules: 'required|valid_email'
	}], glitchErrorMessages
	);
</script>
		
{% endblock %}	