<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
   
<html lang="en">
	{% block head %}
	<head>
	  <meta charset="utf-8">
		<title>Infinite Glitch - The World's Longest Pop Song.</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" >
        <link rel="image_src" type="image/png" href="/static/img/icon.png" />
        <meta property="og:title" content="Infinite Glitch - The World's Longest Pop Song." >
		<meta property="og:type" content="song" >
		<meta property="og:url" content="http://infiniteglitch.net/" >
		<meta property="og:image" content="http://infiniteglitch.net/static/img/puzzle-stamp.png" >
		<meta property="og:description" content="I don't remember if he said it
      or if I said it or if the caffeine said it but suddenly we're both giggling 'cause the
      problem with the song isn't that it's too long it's that it's too short." >
		<meta property="fb:admins" content="100000460115448" >
        <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
        <link href='{{ compiled('style.scss') }}' rel='stylesheet' type='text/css' >
        <link href='{{ compiled(
          'bar-ui.css',
          'sprites.css',
          'flashblock.css',
          '360player.css',
          '360player-visualization.css'
        ) }}' rel='stylesheet' type='text/css' >
  
  <link href='{{ compiled('style-responsive-players.scss') }}' rel='stylesheet' type='text/css' >
  <meta charset="UTF-8">

  <!--
Tabs Code Copyright (c) 2014 by jacmaes (http://codepen.io/jacmaes/pen/iqgnh)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!--
Copyright (c) 2015 by Brad Frost (http://codepen.io/bradfrost/pen/lpnqC)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->


  <link href='{{ compiled('tabs.scss') }}' rel='stylesheet' type='text/css' />
	

  

  <script>
    window.console = window.console || function(t) {};
    window.open = function(){ console.log('window.open is disabled.'); };
    window.print = function(){ console.log('window.print is disabled.'); };
    // Support hover state for mobile.
    if (false) {
      window.ontouchstart = function(){};
    }
  </script>
	<script type="text/javascript" src='{{ compiled('modernizr.js') }}'></script>

	</head>
	{% endblock %}

<body>

	<header id="header" role="banner">
		
		{% block user %}
		<div class="user">
				<p>Hello {{ current_user.username or 'Glitcher' }}!</p>
		</div>
		{% endblock %}
		<center>
		<a href="/" style="display:block;">
		<div id="title">
		
		</div></a>
		</center>
	</header>
	<br style="clear:both"/>
  <!--Pattern HTML-->
  <!-- Added 20th June -->
<div id="pdf"><a href="http://www.thewonder.co.uk/Devil Glitch Registration Certificate.pdf" target="_blank"><img src="/static/img/pdf-link.png" border="0" width="36" height="37" alt=""></a></div><!-- end -->
			<div class="left-player">
			{% block sidebar %}
		
			{% endblock %}
			</div>
	<div class="main">
    <section id="pattern" class="pattern">
  	<ul class="grid">
		
	
	
	<li class="wide">
		<div>
			{% block content %}<p>totally empty page</p>{% endblock %}
		</div>
	</li>	
	
	{% block rightnav %}
			<li>
				{% include 'modules/navigation.html' %}	
			</li>
			
		</ul>
	</section>	
	{% endblock %}
	</div>
		{% block footer %}		
	<div class="container">			
		{% include 'modules/footer.html' %}	
	</div>				
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>		
	<script type="text/javascript" src='{{ compiled('spin.min.js',		  
		'soundmanager2-nodebug-jsmin.js',		  
		'berniecode-animator.js',		  
		'360player.js',
		'bar-ui.js',
		'socket.io.js',
		'sm-configs.js'	  ) }}'>
	</script>	
	<script type="text/javascript" >			
	$(".title").click(function() {
		window.location = $(this).find("a").attr("href"); 		  
		return false;		
		});		
	</script>		

		<script type="text/javascript" src='/static/main.js'></script>
		
		<script type="text/javascript">
			// Hide all but first tab content
			$('.accordion__content:not(:first)').hide();

			// Activate first tab
			$('.accordion__title:first-child').addClass('active');

			// The clicking / tapping action
			$('.accordion__title').on('click', function() {
			$('.accordion__content').hide();
			$(this).next().show().prev().addClass('active').siblings().removeClass('active');
			});
		</script>


	{% endblock %}	
	</div>

</body>
</html>