{% extends secondary.html %}

{% block content %}
<p></p>

<!--<img width="125" border="0" height="35" alt="" src="static/img/sign-up-title.png">-->
<h2>Create new password for {{ email }}</h2>

<p></p>
<form enctype="multipart/form-data" action="/new_password/{{ id }}/{{ hex_key }}" method="post">
<table class="secondary">

<tr><td>Password: </td><td>{{ form.password }} </td></tr>
<tr><td colspan="2"><p>(At least eight characters, please.
Ideally, use <a href="http://xkcd.com/936/">four common words</a> for your password.)</p></td></tr>
<tr><td>Password again: </td><td>{{ form.confirm }}</td></tr>
	{% if form.password.errors %}
		<tr><td colspan=2> 
        <ul class="errors">{% for error in form.password.errors %}<li class="error_notice">{{ error }}</li>{% end %}</ul>
		</td></tr>
    {% end %}
<tr><td colspan="2">
{{ form.accept_checkbox }} Update the new password.

	{% if form.accept_checkbox.errors %}
        <ul class="errors">{% for error in form.accept_checkbox.errors %}<li class="error_notice">{{ error }}</li>{% end %}</ul>
    {% end %}
{{ form.email(value=email) }}		
	</td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Set New Password" /></td></tr>
</table>
</form>

{% end %}

