{% extends "secondary.html" %}
{% block content %}
<p></p>

<!--<img width="125" border="0" height="35" alt="" src="/static/img/sign-up-title.png">-->
<h2>Reset password</h2>

<p></p>
<form name=resetpwd enctype="multipart/form-data" action="/reset_password" method="post">
<table class="secondary">
<tr><td><label for email>Your Email: </td><td><input name=email></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Send Reset Link" /></td></tr>
</table>
</form>
<!-- Spinner - visible only until the file exists -->
	<div id="loading" style"display:none;">
		<div id="loadingcontent">
			<p id="loadingspinner">
				<br/>
				Sending reset email...<br/><br/>
			</p>
		</div>
	</div>
{% endblock %}

{% block load_scripts %}
<script type="text/javascript">		
	var validator = new FormValidator('resetpwd', [{
		name: 'email',
		rules: 'required|valid_email'
	}], glitchErrorMessages
	);
	
	validator.registerCallback('spinner', function(value) {
			if (validator._hooks.is_file_type(validator.fields.mp3_file, 'mp3') === true) {
				jQuery("#loading").fadeIn();
				var opts = {
					lines: 12, // The number of lines to draw
					length: 7, // The length of each line
					width: 4, // The line thickness
					radius: 10, // The radius of the inner circle
					color: '#000', // #rgb or #rrggbb
					speed: 1, // Rounds per second
					trail: 60, // Afterglow percentage
					shadow: false, // Whether to render a shadow
					hwaccel: false // Whether to use hardware acceleration
				};
				var target = document.getElementById('loading');
				var spinner = new Spinner(opts).spin(target);
				document.getElementById("loading").style.display = "block";
				return true;
			}
			return false;
		});
</script>
		
{% endblock %}	