{% extends "secondary.html" %}

{% block content %}
<p></p>

<!--<img width="125" border="0" height="35" alt="" src="/static/img/sign-up-title.png">-->
<h2>Reset password</h2>

<p></p>
<form name=resetpwd enctype="multipart/form-data" action="/reset_password" method="post">
<table class="secondary">
<tr><td><label for email>Your Email: </td><td><input name=email></td></tr>
<tr><td colspan="2">
<input type=checkbox name=accept> Send password reset email, please.	
	</td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Send Reset Link" /></td></tr>
</table>
</form>

{% endblock %}

{% block load_scripts %}
<script type="text/javascript">		
	var validator = new FormValidator('resetpwd', [{
		name: 'email',
		rules: 'required|valid_email'
	}, {
		name: 'accept',
		display: 'Send password reset email, please',
		rules: 'required'
	}], glitchErrorMessages
	);
</script>
{% endblock %}	