{% extends "main.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block stylesheets %}
        <link href='/static/style-extra.css' rel='stylesheet' type='text/css'>
        <link href='/static/bar-ui.css' rel='stylesheet' type='text/css'>
        <link href='/static/360player.css' rel='stylesheet' type='text/css'>
        <link href='/static/360player-visualization.css' rel='stylesheet' type='text/css'>
		<link href='/static/style-responsive-players.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block sidebar %}<!-- Suppress the player -->{% endblock %}
		{% block main %}
		<div class="secondary">
			<section id="pattern" class="pattern">  	
				<ul class="grid">
					<li class="wide">		
						<div class="secondary-two">	
						<div id=messages></div>		
							 {% block content %}
								<p>totally empty page</p>
							 {% endblock %}		
						</div>		
						<div style="clear:both;"></div>	
					</li>			
					{% block rightnav %}			
					<li>				
						{% include 'modules/navigation.html' %}		
					</li>	
					{% endblock %}						
				</ul>	
			</section>	
		</div>		
		{% endblock %}	
		{% block footer %}		
		<div class="container">			
			{% include 'modules/footer.html' %}	
		</div>							
		{% endblock %}
		{% block load_scripts %}

		{% endblock %}	
		</div>
	</body>
</html>

