{% extends "secondary.html" %}

{% block content %}
<p></p>

<!--<img width="125" border="0" height="35" alt="" src="/static/img/sign-up-title.png">-->
<h2>Create new password for {{ email }}</h2>

<p></p>
<form name=newpassword enctype="multipart/form-data" action="/update_password/{{ id }}/{{ hex_key }}" method="post">

<table class="secondary">

<tr>
	<td>
		<label for=password>Password:</label> 
	</td>
	<td>
		<input name=password type=password> 
	</td>
</tr>

<tr>
	<td colspan="2"><p>(At least eight characters, please.
Ideally, use <a href="http://xkcd.com/936/">four common words</a> for your password.)</p>
	</td>
</tr>

<tr>
	<td>
		<label for=password2>Password:</label> 
	</td>
	<td>
		<input name=password2 type=password> 
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type=checkbox name=accept> Update the new password.
	</td>
</tr>
<tr>
	<td colspan="2" align="right">
		<input type="submit" value="Set New Password" />
	</td>
</tr>
</table>

</form>


{% endblock %}

{% block load_scripts %}
<script type="text/javascript">		
	var validator = new FormValidator('newpassword', [{
		name: 'password',
		rules: 'required|min_length[8]'
	}, {
		name: 'password2',
		display: 'password confirmation',
		rules: 'required|matches[password]'
	}, {
		name: 'accept',
		display: 'I need a password reset.',
		rules: 'required'
	}], glitchErrorMessages
	);
</script>
{% endblock %}