{% extends "secondary.html" %}

{% block content %}
<p></p>
<img width="212" border="0" height="38" alt="" src="/static/img/submit-title.png">
<p></p>
<form name=submittrack enctype="multipart/form-data" action="/submit" method="post" id="track_submit">

<table class="secondary">

{% include 'modules/track_submission_form.html' %}

<input name="track_source" type="hidden" value="user_form" />
<tr><td colspan="2" align="right"><input type="submit" value="upload" /></td></tr>
</table>
</form>
	<!-- Spinner - visible only until the file exists -->
	<div id="loading" style"display:none;">
		<div id="loadingcontent">
			<p id="loadingspinner">
				<br/>
				Uploading file...<br/><br/>
				Please be patient as this may take a little while.<br/><br/>
				In the meantime, enjoy a fortune:<br/><br/>
					{{ witty_saying }}
			</p>
		</div>
	</div>
{% endblock %}
{% block footer %}		
	<div class="container">			
		{% include 'modules/footer.html' %}	
	</div>				
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>				
	<script type="text/javascript" src='/static/spin.min.js'></script>
	<script type="text/javascript" src='/static/soundmanager2-nodebug-jsmin.js'></script>
	<script type="text/javascript" src='/static/berniecode-animator.js'></script>
	<script type="text/javascript" src='/static/360player.js'></script>
	<script type="text/javascript" src='/static/bar-ui.js'></script>
	<script type="text/javascript" src='/static/sm-configs.js'></script>
	<script type="text/javascript" src='/static/error-messages.js'></script>
	<script type="text/javascript" src='/static/validate.js'></script>
	<script type="text/javascript" src='/static/main.js'></script>

	<script type="text/javascript">
	
		var validator = new FormValidator('submittrack', [{
			name: 'mp3_file',
			rules: 'required|callback_spinner'
		}], glitchErrorMessages
		);
	
		validator.registerCallback('spinner', function(value) {
			if (validator._hooks.is_file_type(validator.fields.mp3_file, 'mp3') === true) {
				jQuery("#loading").fadeIn();
				var opts = {
					lines: 12, // The number of lines to draw
					length: 7, // The length of each line
					width: 4, // The line thickness
					radius: 10, // The radius of the inner circle
					color: '#000', // #rgb or #rrggbb
					speed: 1, // Rounds per second
					trail: 60, // Afterglow percentage
					shadow: false, // Whether to render a shadow
					hwaccel: false // Whether to use hardware acceleration
				};
				var target = document.getElementById('loading');
				var spinner = new Spinner(opts).spin(target);
				document.getElementById("loading").style.display = "block";
				return true;
			}
			return false;
		});
	
	</script>


	{% endblock %}	

